<p style="border:2px solid black"> </p>
<span style="font-family:Lucida Bright;">
<p style="margin-bottom:1cm"></p>
<center>
<font size="7"><b>Social Data Analysis and</b></font>
<p style="margin-bottom:0.3cm"></p>
<font size="7"><b>Visualization</b></font>
<p style="margin-bottom:1cm"></p>
<font size="3"><b>Final Project</b></font>
<p style="margin-bottom:1cm"></p>
<font size="6"><b>Demographics of Copenhagen</b></font>
<p style="margin-bottom:0.8cm"></p>
<font size="3"><b>Wojciech Mazurkiewicz, DTU, 14 May 2021</b></font>
<p style="margin-bottom:1.5cm"></p>
<font size="6"><b>Combining the Data</b></font>
<br>
<font size="3"><b></b></font>
</center>
<p style="margin-bottom:0.7cm"></p>
<p style="border:2px solid black"> </p>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#How-to-read-this-notebook" data-toc-modified-id="How-to-read-this-notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>How to read this notebook</a></span></li><li><span><a href="#Introduction" data-toc-modified-id="Introduction-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Initialization" data-toc-modified-id="Initialization-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Initialization</a></span></li><li><span><a href="#Load-data" data-toc-modified-id="Load-data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Identify-common-data-categories-in-dataframes-containing-district-information" data-toc-modified-id="Identify-common-data-categories-in-dataframes-containing-district-information-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Identify common data categories in dataframes containing district information</a></span></li><li><span><a href="#Streamline-district-information" data-toc-modified-id="Streamline-district-information-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Streamline district information</a></span></li><li><span><a href="#Initialize-the-superset-object" data-toc-modified-id="Initialize-the-superset-object-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Initialize the superset object</a></span></li><li><span><a href="#Remove-the-column-Quarter" data-toc-modified-id="Remove-the-column-Quarter-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Remove the column <code>Quarter</code></a></span></li><li><span><a href="#Prepare-dataset-for-inclusion-in-the-superset:-Citizenship" data-toc-modified-id="Prepare-dataset-for-inclusion-in-the-superset:-Citizenship-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Prepare dataset for inclusion in the superset: <strong><em>Citizenship</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Display the dataset</a></span></li><li><span><a href="#Check-the-number-of-people-before-transformations" data-toc-modified-id="Check-the-number-of-people-before-transformations-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Check the number of people before transformations</a></span></li><li><span><a href="#Create-new-columns-containing-the-number-of-people-for-each-citizenship,-age,-and-sex-group" data-toc-modified-id="Create-new-columns-containing-the-number-of-people-for-each-citizenship,-age,-and-sex-group-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Create new columns containing the number of people for each citizenship, age, and sex group</a></span></li><li><span><a href="#Express-the-number-of-people-as-fractions-of-the-district-total:" data-toc-modified-id="Express-the-number-of-people-as-fractions-of-the-district-total:-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>Express the number of people as fractions of the district-total:</a></span></li><li><span><a href="#Check-that-the-sum-of-citizens-looks-right" data-toc-modified-id="Check-that-the-sum-of-citizens-looks-right-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span>Check that the sum of citizens looks right</a></span></li></ul></li><li><span><a href="#Prepare-dataset-for-inclusion:-Dwellings" data-toc-modified-id="Prepare-dataset-for-inclusion:-Dwellings-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Prepare dataset for inclusion: <strong><em>Dwellings</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Display the dataset</a></span></li><li><span><a href="#Check-the-total-dwelling-area-before-transformations" data-toc-modified-id="Check-the-total-dwelling-area-before-transformations-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Check the total dwelling area before transformations</a></span></li><li><span><a href="#Create-new-columns-containing-the-number-of-total-of-square-meters-for-each-dwelling-ownership-group" data-toc-modified-id="Create-new-columns-containing-the-number-of-total-of-square-meters-for-each-dwelling-ownership-group-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Create new columns containing the number of total of square meters for each dwelling ownership group</a></span></li><li><span><a href="#Check-if-there-are-any-square-meters-in-the-column:-Unknown" data-toc-modified-id="Check-if-there-are-any-square-meters-in-the-column:-Unknown-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Check if there are any square meters in the column: <code>Unknown</code></a></span></li><li><span><a href="#Express-the-areas-as-fractions-of-the-district-total" data-toc-modified-id="Express-the-areas-as-fractions-of-the-district-total-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span>Express the areas as fractions of the district-total</a></span></li><li><span><a href="#Check-that-the-total-area-looks-right" data-toc-modified-id="Check-that-the-total-area-looks-right-10.6"><span class="toc-item-num">10.6&nbsp;&nbsp;</span>Check that the total area looks right</a></span></li></ul></li><li><span><a href="#Prepare-dataset-for-inclusion:-Family-Type-and-Children" data-toc-modified-id="Prepare-dataset-for-inclusion:-Family-Type-and-Children-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Prepare dataset for inclusion: <strong><em>Family Type and Children</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Display the dataset</a></span></li><li><span><a href="#Check-the-total-total-number-of-families-before-transformations" data-toc-modified-id="Check-the-total-total-number-of-families-before-transformations-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Check the total total number of families before transformations</a></span></li><li><span><a href="#Create-new-columns-containing-the-number-of-families-for-each-family-type-and-number-of-children" data-toc-modified-id="Create-new-columns-containing-the-number-of-families-for-each-family-type-and-number-of-children-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>Create new columns containing the number of families for each family type and number of children</a></span></li><li><span><a href="#Express-the-number-of-families-as-fractions-of-the-district-total" data-toc-modified-id="Express-the-number-of-families-as-fractions-of-the-district-total-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Express the number of families as fractions of the district-total</a></span></li><li><span><a href="#Check-that-the-number-of-families-looks-right" data-toc-modified-id="Check-that-the-number-of-families-looks-right-11.5"><span class="toc-item-num">11.5&nbsp;&nbsp;</span>Check that the number of families looks right</a></span></li></ul></li><li><span><a href="#Prepare-dataset-for-inclusion:-Income" data-toc-modified-id="Prepare-dataset-for-inclusion:-Income-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Prepare dataset for inclusion: <strong><em>Income</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>Display the dataset</a></span></li><li><span><a href="#Check-the-number-of-people" data-toc-modified-id="Check-the-number-of-people-12.2"><span class="toc-item-num">12.2&nbsp;&nbsp;</span>Check the number of people</a></span></li><li><span><a href="#Remove-columns-containing-total-income-and-number-of-people-per-district." data-toc-modified-id="Remove-columns-containing-total-income-and-number-of-people-per-district.-12.3"><span class="toc-item-num">12.3&nbsp;&nbsp;</span>Remove columns containing total income and number of people per district.</a></span></li><li><span><a href="#Check-the-total-income-before-transformations" data-toc-modified-id="Check-the-total-income-before-transformations-12.4"><span class="toc-item-num">12.4&nbsp;&nbsp;</span>Check the total income before transformations</a></span></li><li><span><a href="#Create-new-columns-containing-the-income-data-for-each-sex" data-toc-modified-id="Create-new-columns-containing-the-income-data-for-each-sex-12.5"><span class="toc-item-num">12.5&nbsp;&nbsp;</span>Create new columns containing the income data for each sex</a></span></li><li><span><a href="#Check-that-the-total-average-income-looks-right" data-toc-modified-id="Check-that-the-total-average-income-looks-right-12.6"><span class="toc-item-num">12.6&nbsp;&nbsp;</span>Check that the total average income looks right</a></span></li></ul></li><li><span><a href="#Prepare-dataset-for-inclusion:-Lifespan" data-toc-modified-id="Prepare-dataset-for-inclusion:-Lifespan-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Prepare dataset for inclusion: <strong><em>Lifespan</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-13.1"><span class="toc-item-num">13.1&nbsp;&nbsp;</span>Display the dataset</a></span></li></ul></li><li><span><a href="#Prepare-dataset-for-inclusion-in-the-superset:-Marital-Status" data-toc-modified-id="Prepare-dataset-for-inclusion-in-the-superset:-Marital-Status-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Prepare dataset for inclusion in the superset: <strong><em>Marital Status</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-14.1"><span class="toc-item-num">14.1&nbsp;&nbsp;</span>Display the dataset</a></span></li><li><span><a href="#Check-the-number-of-people-before-transformations" data-toc-modified-id="Check-the-number-of-people-before-transformations-14.2"><span class="toc-item-num">14.2&nbsp;&nbsp;</span>Check the number of people before transformations</a></span></li><li><span><a href="#Create-new-columns-containing-the-number-of-people-for-each-marital-status,-age-group,-and-sex" data-toc-modified-id="Create-new-columns-containing-the-number-of-people-for-each-marital-status,-age-group,-and-sex-14.3"><span class="toc-item-num">14.3&nbsp;&nbsp;</span>Create new columns containing the number of people for each marital status, age group, and sex</a></span></li><li><span><a href="#Express-the-number-of-people-as-fractions-of-the-district-total" data-toc-modified-id="Express-the-number-of-people-as-fractions-of-the-district-total-14.4"><span class="toc-item-num">14.4&nbsp;&nbsp;</span>Express the number of people as fractions of the district-total</a></span></li><li><span><a href="#Check-that-the-total-number-of-people-looks-right" data-toc-modified-id="Check-that-the-total-number-of-people-looks-right-14.5"><span class="toc-item-num">14.5&nbsp;&nbsp;</span>Check that the total number of people looks right</a></span></li><li><span><a href="#Remove-the-column-Number-of-people" data-toc-modified-id="Remove-the-column-Number-of-people-14.6"><span class="toc-item-num">14.6&nbsp;&nbsp;</span>Remove the column <code>Number of people</code></a></span></li></ul></li><li><span><a href="#Prepare-dataset-for-inclusion-in-the-superset:-Population-Movement" data-toc-modified-id="Prepare-dataset-for-inclusion-in-the-superset:-Population-Movement-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Prepare dataset for inclusion in the superset: <strong><em>Population Movement</em></strong></a></span><ul class="toc-item"><li><span><a href="#Display-the-dataset" data-toc-modified-id="Display-the-dataset-15.1"><span class="toc-item-num">15.1&nbsp;&nbsp;</span>Display the dataset</a></span></li><li><span><a href="#Express-the-number-of-people-as-fractions-of-the-district-total:" data-toc-modified-id="Express-the-number-of-people-as-fractions-of-the-district-total:-15.2"><span class="toc-item-num">15.2&nbsp;&nbsp;</span>Express the number of people as fractions of the district-total:</a></span></li></ul></li><li><span><a href="#Make-sure-all-the-tables-have-the-same-number-of-levels-in-the-column-index" data-toc-modified-id="Make-sure-all-the-tables-have-the-same-number-of-levels-in-the-column-index-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Make sure all the tables have the same number of levels in the column index</a></span></li><li><span><a href="#Create-the-superset" data-toc-modified-id="Create-the-superset-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Create the superset</a></span><ul class="toc-item"><li><span><a href="#Merge-the-prepared-datasets" data-toc-modified-id="Merge-the-prepared-datasets-17.1"><span class="toc-item-num">17.1&nbsp;&nbsp;</span>Merge the prepared datasets</a></span><ul class="toc-item"><li><span><a href="#Sort-columns" data-toc-modified-id="Sort-columns-17.1.1"><span class="toc-item-num">17.1.1&nbsp;&nbsp;</span>Sort columns</a></span></li><li><span><a href="#Save-superset-dataframe" data-toc-modified-id="Save-superset-dataframe-17.1.2"><span class="toc-item-num">17.1.2&nbsp;&nbsp;</span>Save superset dataframe</a></span></li><li><span><a href="#Show-data-for-a-chosen-district" data-toc-modified-id="Show-data-for-a-chosen-district-17.1.3"><span class="toc-item-num">17.1.3&nbsp;&nbsp;</span>Show data for a chosen district</a></span></li></ul></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></div>

# How to read this notebook

<p style="border:2px solid black"> </p>

Please note that the pre-rendered outputs will first display properly when the notebook is __trusted__.

If you are viewing the HTML-version of the notebook and would like to download the .ipynm file, you can do it [here](https://social-data-analysis-and-visualization-final-project.s3.eu-central-1.amazonaws.com/combining_data.ipynb).

# Introduction

<p style="border:2px solid black"> </p>

In our study, we would like to see how different demographic measures develop over time in different districts of Copenhagen. To accomplish that, it would be beneficial to create a super-dataset containing combined information from all the datasets at our disposal, such as each row of the resulting set would represent the values of different quantities in a given district at a certain point in time. In this notebook, we will create such a dataset.

# Initialization
<p style="border:2px solid black"> </p>

For initialization, we run the procedure from the [Initialization notebook](https://social-data-analysis-and-visualization-final-project.s3.eu-central-1.amazonaws.com/initialization.html).

In [1]:
%run ./initialization.ipynb

# Load data

<p style="border:2px solid black"> </p>

Let's load the clean demographical data for Copenhagen, which we have obtained in the notebook [Loading and Cleaning of Data](https://social-data-analysis-and-visualization-final-project.s3.eu-central-1.amazonaws.com/data_loading_and_cleaning.html).

In [2]:
# Load the clean data.
cph_data = CphData()

# Display all dataframes:
cph_data.display_dataframes()

**Citizenship**:

,Year,Quarter,District,District type,Sex,Age,Citizenship,Number of people
0,1980,1,1. Nord,Polling area,Men,0-9 years,Denmark,265.0
1,1981,1,1. Nord,Polling area,Men,0-9 years,Denmark,278.0
2,1982,1,1. Nord,Polling area,Men,0-9 years,Denmark,265.0
3,1983,1,1. Nord,Polling area,Men,0-9 years,Denmark,249.0
4,1984,1,1. Nord,Polling area,Men,0-9 years,Denmark,249.0
...,...,...,...,...,...,...,...,...
157435,2016,4,Østerbro,District,Women,>= 90 years,Western countries,3.0
157436,2017,4,Østerbro,District,Women,>= 90 years,Western countries,4.0
157437,2018,4,Østerbro,District,Women,>= 90 years,Western countries,5.0
157438,2019,4,Østerbro,District,Women,>= 90 years,Western countries,6.0
157439,2020,4,Østerbro,District,Women,>= 90 years,Western countries,5.0

**Country of origin**:

       Year  Quarter    Sex          Age Country of origin  Number of people
0      2008        4    Men    0-9 years         Abu Dhabi               0.0
1      2009        4    Men    0-9 years         Abu Dhabi               0.0
2      2010        4    Men    0-9 years         Abu Dhabi               0.0
3      2011        4    Men    0-9 years         Abu Dhabi               0.0
4      2012        4    Men    0-9 years         Abu Dhabi               0.0
...     ...      ...    ...          ...               ...               ...
61875  2016        4  Women  >= 90 years          Zimbabwe               0.0
61876  2017        4  Women  >= 90 years          Zimbabwe               0.0
61877  2018        4  Women  >= 90 years          Zimbabwe               0.0
61878  2019        4  Women  >= 90 years          Zimbabwe               0.0
61879  2020        4  Women  >= 90 years          Zimbabwe               0.0

[61880 rows x 6 columns]

**Dwellings**:

,Year,District,District type,Dwelling ownership,Total square meters occupied dwellings
0,1991,Copenhagen total,Entire Copenhagen,Owner-occupied,"4,667,001.0"
1,1991,Indre By,District,Owner-occupied,"566,699.0"
2,1991,Østerbro,District,Owner-occupied,"635,362.0"
3,1991,Nørrebro,District,Owner-occupied,"298,278.0"
4,1991,Vesterbro/Kongens Enghave,District,Owner-occupied,"273,584.0"
...,...,...,...,...,...
11899,2021,9. Syd,Polling area,Unknown,0.0
11900,2021,9. Øst,Polling area,Unknown,0.0
11901,2021,9. Vest,Polling area,Unknown,0.0
11902,2021,9. Midt,Polling area,Unknown,0.0
11903,2021,9. Sydhavn,Polling area,Unknown,0.0

**Family type and children**:

,Year,Quarter,District,District type,Family type,Number of children,Number of families
0,1998,1,1. Nord,Polling area,Children below 18 years not living with parents,0 children,5.0
1,1999,1,1. Nord,Polling area,Children below 18 years not living with parents,0 children,10.0
2,2000,1,1. Nord,Polling area,Children below 18 years not living with parents,0 children,17.0
3,2001,1,1. Nord,Polling area,Children below 18 years not living with parents,0 children,19.0
4,2002,4,1. Nord,Polling area,Children below 18 years not living with parents,0 children,26.0
...,...,...,...,...,...,...,...
36795,2016,4,Østerbro,District,Single women,More than 3 children,21.0
36796,2017,4,Østerbro,District,Single women,More than 3 children,20.0
36797,2018,4,Østerbro,District,Single women,More than 3 children,21.0
36798,2019,4,Østerbro,District,Single women,More than 3 children,19.0
36799,2020,4,Østerbro,District,Single women,More than 3 children,18.0

**Income**:

,Year,District,District type,Sex,Total income in district (kr.),Average income (kr.),Number of people
0,1987,1. Nord,Polling area,Men,"480,298,000.0","190,217.0","2,525.0"
1,1987,1. Nord,Polling area,Women,"457,876,000.0","123,617.0","3,704.0"
2,1987,1. Nordvest,Polling area,Men,"637,196,000.0","145,246.0","4,387.0"
3,1987,1. Nordvest,Polling area,Women,"608,784,000.0","108,402.0","5,616.0"
4,1987,1. Syd,Polling area,Men,"844,061,000.0","152,330.0","5,541.0"
...,...,...,...,...,...,...,...
4285,2019,Vanløse,District,Women,"5,566,365,000.0","319,410.0","17,427.0"
4286,2019,Vesterbro/Kongens Enghave,District,Men,"11,307,215,000.0","381,678.0","29,625.0"
4287,2019,Vesterbro/Kongens Enghave,District,Women,"9,399,658,000.0","319,325.0","29,436.0"
4288,2019,Østerbro,District,Men,"13,865,000,000.0","448,024.0","30,947.0"
4289,2019,Østerbro,District,Women,"11,846,349,000.0","342,786.0","34,559.0"

**Life span**:

,Year,District,District type,Average life span (5-year average)
0,2009,Indre By,District,79.4
1,2009,Østerbro,District,78.4
2,2009,Nørrebro,District,72.3
3,2009,Vesterbro/Kongens Enghave,District,73.5
4,2009,Valby,District,75.9
...,...,...,...,...
127,2020,Brønshøj-Husum,District,78.5
128,2020,Bispebjerg,District,77.8
129,2020,Amager Øst,District,81.0
130,2020,Amager Vest,District,78.7
131,2020,Unlocated,District,0.0

**Marital status**:

,Year,Quarter,District,District type,Sex,Age,Marital status,Number of people
0,1974,1,1. Nord,Polling area,Men,0-9 years,Divorced,0.0
1,1975,1,1. Nord,Polling area,Men,0-9 years,Divorced,0.0
2,1976,1,1. Nord,Polling area,Men,0-9 years,Divorced,0.0
3,1977,1,1. Nord,Polling area,Men,0-9 years,Divorced,0.0
4,1978,1,1. Nord,Polling area,Men,0-9 years,Divorced,0.0
...,...,...,...,...,...,...,...,...
240635,2016,4,Østerbro,District,Women,>= 90 years,Widowed,235.0
240636,2017,4,Østerbro,District,Women,>= 90 years,Widowed,220.0
240637,2018,4,Østerbro,District,Women,>= 90 years,Widowed,211.0
240638,2019,4,Østerbro,District,Women,>= 90 years,Widowed,208.0
240639,2020,4,Østerbro,District,Women,>= 90 years,Widowed,199.0

**Population movement**:

,Year,District,District type,Deaths,Emigrated,Immigrated,Internal migration,Internal migration from other districts,Internal migration to to other districts,Internal migratrion from danish municipalities,Internal migratrion to danish municipalities,Live births,Natural increase,Netmigration,Netmigration Copenhagen,Netmigration Denmark
0,1975,1. Nord,Polling area,134.0,122.0,84.0,158.0,663.0,744.0,562.0,668.0,93.0,-41.0,-38.0,-81.0,-106.0
1,1976,1. Nord,Polling area,129.0,98.0,88.0,110.0,622.0,681.0,496.0,637.0,73.0,-56.0,-10.0,-59.0,-141.0
2,1977,1. Nord,Polling area,111.0,90.0,92.0,127.0,637.0,633.0,446.0,564.0,72.0,-39.0,2.0,4.0,-118.0
3,1978,1. Nord,Polling area,127.0,72.0,77.0,111.0,652.0,638.0,465.0,499.0,73.0,-54.0,5.0,14.0,-34.0
4,1980,1. Nord,Polling area,128.0,115.0,107.0,99.0,686.0,558.0,587.0,501.0,75.0,-53.0,-8.0,128.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2578,2016,Østerbro,District,461.0,"1,877.0","2,905.0","3,788.0","5,533.0","5,835.0","5,576.0","5,467.0","1,267.0",806.0,"1,028.0",-302.0,109.0
2579,2017,Østerbro,District,475.0,"2,006.0","3,000.0","3,855.0","5,642.0","5,918.0","5,818.0","5,904.0","1,244.0",769.0,994.0,-276.0,-86.0
2580,2018,Østerbro,District,463.0,"2,235.0","3,017.0","3,709.0","5,310.0","5,963.0","4,930.0","5,726.0","1,251.0",788.0,782.0,-653.0,-796.0
2581,2019,Østerbro,District,443.0,"2,277.0","3,018.0","3,813.0","5,493.0","6,120.0","5,255.0","5,699.0","1,303.0",860.0,741.0,-627.0,-444.0
2582,2020,Østerbro,District,437.0,"1,708.0","2,423.0","4,000.0","5,784.0","6,180.0","5,574.0","6,309.0","1,268.0",831.0,715.0,-396.0,-735.0

# Identify common data categories in dataframes containing district information

<p style="border:2px solid black"> </p>

All of the datasets we have at our disposal contain information divided by district except a single one: the one that describes the total population of Copenhagen by the country of origin. Therefore, will treat this dataset separately, and in this notebook concentrate solely on the datasets in which the data is divided by district.

Let's start by investigating how much information the datasets that **do** contain district information have in common:

In [3]:
# Get the names of all columns in all tables.
all_columns = cph_data.get_all_column_names()

# Get all dataframes containing district information.
all_dataframes_with_district = cph_data.get_dataframes_with_district()

# Get a dict containing the names of dataframes that
# contain a given column.
datasets_with_column = {column: [df.attrs["name"] for df in all_dataframes_with_district
                                 if column in df.columns]
                        for column in all_columns}

# Get the column names sorted by the number of datasets in which they appear.
columns_by_popularity = sorted(datasets_with_column,
                               key=lambda column: len(
                                   datasets_with_column[column]),
                               reverse=True)

# Create dictionary sorted by the the popularity of the column
# (from most to least popular).
datasets_with_column_sorted = {column: datasets_with_column[column]
                               for column in columns_by_popularity}

# Print out the most popular columns.
printmd('We can see that in the datasets that **do** contain district information:')
for column_name, df_names in datasets_with_column_sorted.items():
    print()
    printmd(f'Column **_{column_name}_** occurs in {len(df_names)} '
            f'out of {len(all_dataframes_with_district)} dataframes:')
    print(df_names)

We can see that in the datasets that **do** contain district information:

Column **_District_** occurs in 7 out of 7 dataframes:

['Citizenship', 'Dwellings', 'Family type and children', 'Income', 'Life span', 'Marital status', 'Population movement']

Column **_District type_** occurs in 7 out of 7 dataframes:

['Citizenship', 'Dwellings', 'Family type and children', 'Income', 'Life span', 'Marital status', 'Population movement']

Column **_Year_** occurs in 7 out of 7 dataframes:

['Citizenship', 'Dwellings', 'Family type and children', 'Income', 'Life span', 'Marital status', 'Population movement']

Column **_Number of people_** occurs in 3 out of 7 dataframes:

['Citizenship', 'Income', 'Marital status']

Column **_Quarter_** occurs in 3 out of 7 dataframes:

['Citizenship', 'Family type and children', 'Marital status']

Column **_Sex_** occurs in 3 out of 7 dataframes:

['Citizenship', 'Income', 'Marital status']

Column **_Age_** occurs in 2 out of 7 dataframes:

['Citizenship', 'Marital status']

Column **_Average income (kr.)_** occurs in 1 out of 7 dataframes:

['Income']

Column **_Average life span (5-year average)_** occurs in 1 out of 7 dataframes:

['Life span']

Column **_Citizenship_** occurs in 1 out of 7 dataframes:

['Citizenship']

Column **_Deaths_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Dwelling ownership_** occurs in 1 out of 7 dataframes:

['Dwellings']

Column **_Emigrated_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Family type_** occurs in 1 out of 7 dataframes:

['Family type and children']

Column **_Immigrated_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Internal migration_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Internal migration from other districts_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Internal migration to to other districts_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Internal migratrion from danish municipalities_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Internal migratrion to danish municipalities_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Live births_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Marital status_** occurs in 1 out of 7 dataframes:

['Marital status']

Column **_Natural increase_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Netmigration_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Netmigration Copenhagen_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Netmigration Denmark_** occurs in 1 out of 7 dataframes:

['Population movement']

Column **_Number of children_** occurs in 1 out of 7 dataframes:

['Family type and children']

Column **_Number of families_** occurs in 1 out of 7 dataframes:

['Family type and children']

Column **_Total income in district (kr.)_** occurs in 1 out of 7 dataframes:

['Income']

Column **_Total square meters occupied dwellings_** occurs in 1 out of 7 dataframes:

['Dwellings']

Column **_Country of origin_** occurs in 0 out of 7 dataframes:

[]

Therefore, we can use **Year**, **District**, and **District Type** as basis of our super-dataset, where we will join the data from various datasets.

# Streamline district information

<p style="border:2px solid black"> </p>

For simplicity, it might be beneficial to limit ourselves to only one district type. Let's start by investigating which ones we have available:

In [4]:
# Get the names of all columns in all tables.
all_columns = cph_data.get_all_column_names()

# Get all dataframes containing district information.
all_dataframes_with_district = cph_data.get_dataframes_with_district()

# Get all district types.
all_district_types = list()
for df in cph_data.get_dataframes_with_district():
    all_district_types += list(df['District type'].unique())

all_district_types = unique(all_district_types)

# Display the district types.
printmd('The following district types at our disposition:')
for district in all_district_types:
    district_string = '***, ***'.join(all_district_types)

printmd('***' + '***, ***'.join(all_district_types) + '***')

The following district types at our disposition:

***Polling area***, ***Entire Copenhagen***, ***District***

***Entire Copenhagen*** is not a district, but a summation of all districts in Copenhagen. ***District*** and ***Polling area*** are real districts - ***District*** is of lower resolution and ***Polling area*** is of higher resolution. Let's get an overview of the ***Districts*** and ***Polling areas***:

In [5]:
# Get all dataframes containing district information.
all_dataframes_with_district = cph_data.get_dataframes_with_district()

# Get all Polling Areas.
all_polling_areas = list()
for df in cph_data.get_dataframes_with_district():
    all_polling_areas += list(df.loc[df['District type']
                              == 'Polling area', 'District'].unique())
all_polling_areas = unique(all_polling_areas)

# Get all Districts.
all_districts = list()
for df in cph_data.get_dataframes_with_district():
    all_districts += list(df.loc[df['District type']
                          == 'District', 'District'].unique())
all_districts = unique(all_districts)

# Show the Polling Areas and Districts:
display(pd.DataFrame(sorted(all_polling_areas), columns=['Polling areas']))
display(pd.DataFrame(sorted(all_districts), columns=['Districts']))

        Polling areas
0             1. Nord
1         1. Nordvest
2              1. Syd
3             1. Vest
4              1. Øst
5         1. Østerbro
6             2. Nord
7     2. Sundbyvester
8              2. Syd
9             2. Vest
10             2. Øst
11        3. Indre By
12            3. Nord
13             3. Syd
14             3. Øst
15            4. Nord
16     4. Sundbyøster
17             4. Syd
18             4. Øst
19            5. Nord
20        5. Nordvest
21        5. Nørrebro
22  5. Nørrebrohallen
23             5. Syd
24            5. Vest
25             5. Øst
26      6. Bispebjerg
27            6. Nord
28             6. Syd
29            6. Vest
30             6. Øst
31        7. Brønshøj
32      7. Katrinedal
33      7. Kirkebjerg
34            7. Nord
35        7. Nordvest
36             7. Syd
37         7. Vanløse
38            7. Vest
39             7. Øst
40            8. Midt
41            8. Nord
42             8. Syd
43          8. Sydøst
44           8. Valby
45            8. Vest
46            9. Midt
47            9. Nord
48             9. Syd
49         9. Sydhavn
50            9. Vest
51       9. Vesterbro
52             9. Øst

                    Districts
0                 Amager Vest
1                  Amager Øst
2                  Bispebjerg
3              Brønshøj-Husum
4                    Indre By
5                    Nørrebro
6                   Unlocated
7                       Valby
8                     Vanløse
9   Vesterbro/Kongens Enghave
10                   Østerbro

So, we have 53 ***Polling Areas*** and 1 ***Districts*** (not counting the district: ***Unlocated***.). Now, let's check if all the dataset have information about all district types:

In [6]:
datasets_with_district_type = {district_type: [df.attrs["name"]
                                               for df in all_dataframes_with_district
                                               if district_type in df['District type'].values]
                               for district_type in all_district_types}

# Get the district names sorted by the number of datasets in which they appear.
district_types_by_popularity = sorted(datasets_with_district_type,
                                      key=lambda column: len(
                                          datasets_with_district_type[column]),
                                      reverse=True)

# Create dictionary sorted by the the popularity of the district type.
# (from most to least popular).
datasets_with_district_type_sorted = {column: datasets_with_district_type[column]
                                      for column in district_types_by_popularity}

# Print out the most popular columns.
for column_name, df_names in datasets_with_district_type_sorted.items():
    print()
    printmd(f'Dataset type **_{column_name}_** occurs in {len(df_names)} '
            f'out of {len(all_dataframes_with_district)} dataframes:')
    print(df_names)

Dataset type **_District_** occurs in 7 out of 7 dataframes:

['Citizenship', 'Dwellings', 'Family type and children', 'Income', 'Life span', 'Marital status', 'Population movement']

Dataset type **_Polling area_** occurs in 6 out of 7 dataframes:

['Citizenship', 'Dwellings', 'Family type and children', 'Income', 'Marital status', 'Population movement']

Dataset type **_Entire Copenhagen_** occurs in 5 out of 7 dataframes:

['Citizenship', 'Dwellings', 'Family type and children', 'Income', 'Marital status']

So, if we use ***District*** as an area, we will be able to divide Copenhagen in 10 districts and use all of our datasets containing district informattion. If we use ***Polling area***, we will be able to divide Copenhagen in 53 districts and use all of our datasets except the one containing information about *Life span*.

It is a dilemma, because I would like to use the high resolution, but I am also very interested in taking a look on how life span correlates with all the other factors. Therefore, at least as a starting point, I will go with the type: ***District***.

# Initialize the superset object

<p style="border:2px solid black"> </p>

Let's gather all the dataframes that we will use to create our superset in one class. As mentioned, we will only use data for the districts of type: ***District***. As this will make the column: ***District type*** superficial, we will remove it from further investigations:

In [7]:
# Initialize the dataset that will contain the cross of all the
# dataset available in this project.
cph_data_superset = CphData()

# Filter the districts to include only District type: District
# and drop the column "District type"
for attribute_name, df in get_obj_attributes(cph_data_superset).items():
    # Delete all the datasets from the object that do not contain
    # the district data
    if 'District' not in df.columns:
        delattr(cph_data_superset, attribute_name)

    # Limit the data to District Type: District and
    # remove the column: District type
    else:
        setattr(
            cph_data_superset,
            attribute_name,
            (df
             .loc[df['District type'] == 'District']
             .drop(['District type'], axis=1))
        )

# Display all dataframes:
cph_data_superset.display_dataframes()

**Citizenship**:

,Year,Quarter,District,Sex,Age,Citizenship,Number of people
2173,1980,1,Amager Vest,Men,0-9 years,Denmark,"1,972.0"
2174,1981,1,Amager Vest,Men,0-9 years,Denmark,"1,917.0"
2175,1982,1,Amager Vest,Men,0-9 years,Denmark,"1,888.0"
2176,1983,1,Amager Vest,Men,0-9 years,Denmark,"1,889.0"
2177,1984,1,Amager Vest,Men,0-9 years,Denmark,"1,856.0"
...,...,...,...,...,...,...,...
157435,2016,4,Østerbro,Women,>= 90 years,Western countries,3.0
157436,2017,4,Østerbro,Women,>= 90 years,Western countries,4.0
157437,2018,4,Østerbro,Women,>= 90 years,Western countries,5.0
157438,2019,4,Østerbro,Women,>= 90 years,Western countries,6.0
157439,2020,4,Østerbro,Women,>= 90 years,Western countries,5.0

**Dwellings**:

,Year,District,Dwelling ownership,Total square meters occupied dwellings
1,1991,Indre By,Owner-occupied,"566,699.0"
2,1991,Østerbro,Owner-occupied,"635,362.0"
3,1991,Nørrebro,Owner-occupied,"298,278.0"
4,1991,Vesterbro/Kongens Enghave,Owner-occupied,"273,584.0"
5,1991,Valby,Owner-occupied,"551,526.0"
...,...,...,...,...
11846,2021,Vanløse,Unknown,0.0
11847,2021,Brønshøj-Husum,Unknown,0.0
11848,2021,Bispebjerg,Unknown,0.0
11849,2021,Amager Øst,Unknown,0.0
11850,2021,Amager Vest,Unknown,0.0

**Family type and children**:

,Year,Quarter,District,Family type,Number of children,Number of families
1219,1998,1,Amager Vest,Children below 18 years not living with parents,0 children,82.0
1220,1999,1,Amager Vest,Children below 18 years not living with parents,0 children,78.0
1221,2000,1,Amager Vest,Children below 18 years not living with parents,0 children,77.0
1222,2001,1,Amager Vest,Children below 18 years not living with parents,0 children,72.0
1223,2002,4,Amager Vest,Children below 18 years not living with parents,0 children,81.0
...,...,...,...,...,...,...
36795,2016,4,Østerbro,Single women,More than 3 children,21.0
36796,2017,4,Østerbro,Single women,More than 3 children,20.0
36797,2018,4,Østerbro,Single women,More than 3 children,21.0
36798,2019,4,Østerbro,Single women,More than 3 children,19.0
36799,2020,4,Østerbro,Single women,More than 3 children,18.0

**Income**:

,Year,District,Sex,Total income in district (kr.),Average income (kr.),Number of people
106,1987,Amager Vest,Men,"2,368,858,000.0","138,659.0","17,084.0"
107,1987,Amager Vest,Women,"2,056,151,000.0","103,898.0","19,790.0"
108,1987,Amager Øst,Men,"2,614,378,000.0","140,520.0","18,605.0"
109,1987,Amager Øst,Women,"2,191,694,000.0","103,348.0","21,207.0"
110,1987,Bispebjerg,Men,"2,127,197,000.0","128,679.0","16,531.0"
...,...,...,...,...,...,...
4285,2019,Vanløse,Women,"5,566,365,000.0","319,410.0","17,427.0"
4286,2019,Vesterbro/Kongens Enghave,Men,"11,307,215,000.0","381,678.0","29,625.0"
4287,2019,Vesterbro/Kongens Enghave,Women,"9,399,658,000.0","319,325.0","29,436.0"
4288,2019,Østerbro,Men,"13,865,000,000.0","448,024.0","30,947.0"
4289,2019,Østerbro,Women,"11,846,349,000.0","342,786.0","34,559.0"

**Life span**:

     Year                   District  Average life span (5-year average)
0    2009                   Indre By                                79.4
1    2009                   Østerbro                                78.4
2    2009                   Nørrebro                                72.3
3    2009  Vesterbro/Kongens Enghave                                73.5
4    2009                      Valby                                75.9
..    ...                        ...                                 ...
127  2020             Brønshøj-Husum                                78.5
128  2020                 Bispebjerg                                77.8
129  2020                 Amager Øst                                81.0
130  2020                Amager Vest                                78.7
131  2020                  Unlocated                                 0.0

[132 rows x 3 columns]

**Marital status**:

,Year,Quarter,District,Sex,Age,Marital status,Number of people
2491,1974,1,Amager Vest,Men,0-9 years,Divorced,0.0
2492,1975,1,Amager Vest,Men,0-9 years,Divorced,0.0
2493,1976,1,Amager Vest,Men,0-9 years,Divorced,0.0
2494,1977,1,Amager Vest,Men,0-9 years,Divorced,0.0
2495,1978,1,Amager Vest,Men,0-9 years,Divorced,0.0
...,...,...,...,...,...,...,...
240635,2016,4,Østerbro,Women,>= 90 years,Widowed,235.0
240636,2017,4,Østerbro,Women,>= 90 years,Widowed,220.0
240637,2018,4,Østerbro,Women,>= 90 years,Widowed,211.0
240638,2019,4,Østerbro,Women,>= 90 years,Widowed,208.0
240639,2020,4,Østerbro,Women,>= 90 years,Widowed,199.0

**Population movement**:

,Year,District,Deaths,Emigrated,Immigrated,Internal migration,Internal migration from other districts,Internal migration to to other districts,Internal migratrion from danish municipalities,Internal migratrion to danish municipalities,Live births,Natural increase,Netmigration,Netmigration Copenhagen,Netmigration Denmark
2173,1975,Amager Vest,"1,041.0","1,451.0",564.0,"3,454.0","6,344.0","4,817.0","2,736.0","3,974.0",559.0,-482.0,-887.0,"1,527.0","-1,238.0"
2174,1976,Amager Vest,"1,063.0","1,295.0",720.0,"2,935.0","6,162.0","4,942.0","2,979.0","4,211.0",433.0,-630.0,-575.0,"1,220.0","-1,232.0"
2175,1977,Amager Vest,965.0,"1,689.0",815.0,"3,775.0","6,626.0","4,828.0","2,676.0","3,926.0",444.0,-521.0,-874.0,"1,798.0","-1,250.0"
2176,1978,Amager Vest,984.0,"1,357.0",870.0,"2,865.0","5,656.0","4,561.0","2,695.0","3,495.0",460.0,-524.0,-487.0,"1,095.0",-800.0
2177,1980,Amager Vest,"1,001.0","1,297.0",655.0,"2,888.0","5,757.0","4,355.0","2,869.0","3,007.0",414.0,-587.0,-642.0,"1,402.0",-138.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2578,2016,Østerbro,461.0,"1,877.0","2,905.0","3,788.0","5,533.0","5,835.0","5,576.0","5,467.0","1,267.0",806.0,"1,028.0",-302.0,109.0
2579,2017,Østerbro,475.0,"2,006.0","3,000.0","3,855.0","5,642.0","5,918.0","5,818.0","5,904.0","1,244.0",769.0,994.0,-276.0,-86.0
2580,2018,Østerbro,463.0,"2,235.0","3,017.0","3,709.0","5,310.0","5,963.0","4,930.0","5,726.0","1,251.0",788.0,782.0,-653.0,-796.0
2581,2019,Østerbro,443.0,"2,277.0","3,018.0","3,813.0","5,493.0","6,120.0","5,255.0","5,699.0","1,303.0",860.0,741.0,-627.0,-444.0
2582,2020,Østerbro,437.0,"1,708.0","2,423.0","4,000.0","5,784.0","6,180.0","5,574.0","6,309.0","1,268.0",831.0,715.0,-396.0,-735.0

# Remove the column `Quarter`

<p style="border:2px solid black"> </p>

As our dataset have already been adjusted so that their temporal resolution is ***one year***, the column `Quarter` has become superficial. Therefore, let's delete it from all the dataframes that contain it:

In [8]:
for attribute_name, df in get_obj_attributes(cph_data_superset).items():
    # Delete all the datasets from the object that do not contain
    # the district data.
    if 'Quarter' in df.columns:
        df.drop(['Quarter'], axis=1, inplace=True)

# Display one dataframe to veryfy that the column Quarter is gone:
display(cph_data_superset.family_type_and_children.head(3))

,Year,District,Family type,Number of children,Number of families
1219,1998,Amager Vest,Children below 18 years not living with parents,0 children,82.0
1220,1999,Amager Vest,Children below 18 years not living with parents,0 children,78.0
1221,2000,Amager Vest,Children below 18 years not living with parents,0 children,77.0

# Prepare dataset for inclusion in the superset: ***Citizenship***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [9]:
display(cph_data_superset.citizenship)

,Year,District,Sex,Age,Citizenship,Number of people
2173,1980,Amager Vest,Men,0-9 years,Denmark,"1,972.0"
2174,1981,Amager Vest,Men,0-9 years,Denmark,"1,917.0"
2175,1982,Amager Vest,Men,0-9 years,Denmark,"1,888.0"
2176,1983,Amager Vest,Men,0-9 years,Denmark,"1,889.0"
2177,1984,Amager Vest,Men,0-9 years,Denmark,"1,856.0"
...,...,...,...,...,...,...
157435,2016,Østerbro,Women,>= 90 years,Western countries,3.0
157436,2017,Østerbro,Women,>= 90 years,Western countries,4.0
157437,2018,Østerbro,Women,>= 90 years,Western countries,5.0
157438,2019,Østerbro,Women,>= 90 years,Western countries,6.0
157439,2020,Østerbro,Women,>= 90 years,Western countries,5.0

## Check the number of people before transformations

To make sure that our transformations are correct, we will compare the summed number of people in our dataset in 2019 before and after the transformations.

In [10]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    cph_data_superset.citizenship
    .loc[cph_data_superset.citizenship['Year'] == 2019,
         'Number of people']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of people in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of people in Copenhagen in 2019 has been calculated to ***629,513.***

## Create new columns containing the number of people for each citizenship, age, and sex group

Let's create a column for each combination of the non-continuous parameters so that each row of the dataset will represent the data for a unique combination of a year and a district:

In [11]:
# Create new columns containing the number of people
# for each citizenship group, age group, and sex.
df_temp_citizenship_1 = (
    df_create_column_for_each_unique_value(
        cph_data_superset.citizenship,
        category_columns=['Citizenship', 'Age', 'Sex'],
        value_columns='Number of people'
    )
)

# Show the result.
display(df_temp_citizenship_1)

     Year                   District Number of people                      \
                                              Denmark
                                            0-9 years         10-19 years
                                                  Men   Women         Men
0    1980                Amager Vest          1,972.0 1,875.0     2,697.0
1    1980                 Amager Øst          1,650.0 1,650.0     1,999.0
2    1980                 Bispebjerg          1,145.0 1,073.0     1,506.0
3    1980             Brønshøj-Husum          1,778.0 1,599.0     2,418.0
4    1980                   Indre By          1,624.0 1,545.0     1,864.0
..    ...                        ...              ...     ...         ...
405  2020                   Nørrebro          3,979.0 3,805.0     2,524.0
406  2020                      Valby          3,230.0 3,090.0     2,473.0
407  2020                    Vanløse          2,134.0 1,971.0     1,982.0
408  2020  Vesterbro/Kongens Enghave          3,880.0 3,592.0     2,400.0
409  2020                   Østerbro          3,739.0 3,455.0     3,339.0

                                                                          \

            20-29 years          30-39 years         40-49 years
      Women         Men    Women         Men   Women         Men   Women
0   2,576.0     4,147.0  3,666.0     3,223.0 2,797.0     2,258.0 2,117.0
1   2,125.0     4,478.0  4,054.0     2,764.0 2,273.0     1,928.0 1,972.0
2   1,616.0     2,638.0  2,561.0     2,067.0 1,679.0     1,620.0 1,787.0
3   2,185.0     2,283.0  2,161.0     2,264.0 2,296.0     1,781.0 2,086.0
4   1,960.0     4,617.0  4,346.0     3,713.0 3,196.0     2,100.0 1,956.0
..      ...         ...      ...         ...     ...         ...     ...
405 2,702.0     8,937.0 10,899.0     6,974.0 7,238.0     3,656.0 3,533.0
406 2,410.0     6,050.0  6,476.0     4,050.0 3,940.0     3,318.0 3,207.0
407 1,902.0     3,478.0  3,670.0     2,514.0 2,616.0     2,392.0 2,436.0
408 2,462.0     6,876.0  7,871.0     5,858.0 5,823.0     4,743.0 4,192.0
409 3,168.0     7,147.0  7,971.0     5,181.0 5,015.0     4,070.0 4,328.0

                                                                             \

    50-59 years         60-69 years         70-79 years         80-89 years
            Men   Women         Men   Women         Men   Women         Men
0       2,431.0 2,566.0     2,469.0 3,236.0     1,676.0 3,049.0       579.0
1       2,694.0 3,349.0     3,258.0 4,390.0     2,030.0 3,713.0       572.0
2       2,628.0 3,575.0     3,737.0 5,923.0     2,585.0 4,659.0       641.0
3       2,680.0 3,364.0     2,689.0 3,473.0     1,558.0 2,522.0       431.0
4       2,300.0 2,485.0     2,208.0 2,899.0     1,302.0 2,495.0       370.0
..          ...     ...         ...     ...         ...     ...         ...
405     2,889.0 2,809.0     1,898.0 1,919.0     1,197.0 1,305.0       312.0
406     2,628.0 2,606.0     1,849.0 2,003.0     1,234.0 1,474.0       360.0
407     2,098.0 2,173.0     1,583.0 1,722.0     1,128.0 1,375.0       324.0
408     3,461.0 2,953.0     1,873.0 1,813.0     1,100.0 1,138.0       238.0
409     4,128.0 4,485.0     2,719.0 3,136.0     1,998.0 2,725.0       615.0

                                                                             \
                              Non-western countries
            >= 90 years                   0-9 years       10-19 years
      Women         Men Women                   Men Women         Men Women
0   1,589.0        74.0 265.0                 104.0 104.0        38.0  33.0
1   1,264.0        26.0  68.0                 179.0 142.0        76.0  76.0
2   1,616.0        31.0 172.0                 181.0 171.0        72.0  59.0
3   1,094.0        37.0 159.0                  50.0  41.0        13.0  13.0
4   1,108.0        34.0 139.0                  88.0  99.0        55.0  50.0
..      ...         ...   ...                   ...   ...         ...   ...
405   493.0        38.0 167.0                 154.0 152.0       220.0 184.0
406   699.0        57.0 243.0                 299.0 286.0       194.0 172.0
407   572.0        39.0 184.0                 118.0  93.0        83.0  71.0
408   373.0        23.0  75.0                 204.0 204.0       112.0 110.0
409 1,068.0        69.0 287.0                 171.0 179.0       105.0  98.0

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0         205.0 132.0       228.0  84.0        64.0  28.0        15.0  12.0
1         123.0 146.0       218.0 107.0        58.0  38.0        14.0   8.0
2          75.0 102.0       155.0  91.0        71.0  29.0        16.0  10.0
3          30.0  30.0        61.0  31.0        14.0   4.0         2.0   7.0
4         120.0 107.0       180.0  62.0        65.0  32.0        23.0  13.0
..          ...   ...         ...   ...         ...   ...         ...   ...
405       393.0 413.0       526.0 506.0       397.0 502.0       350.0 436.0
406       471.0 527.0       760.0 711.0       373.0 376.0       243.0 285.0
407       220.0 240.0       344.0 337.0       155.0 196.0       119.0 105.0
408       399.0 420.0       691.0 716.0       329.0 335.0       231.0 222.0
409       357.0 473.0       592.0 678.0       266.0 350.0       165.0 162.0

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0          10.0   3.0         3.0   1.0         0.0   0.0         0.0   0.0
1           3.0   5.0         2.0   1.0         1.0   0.0         0.0   0.0
2           4.0   1.0         0.0   1.0         0.0   1.0         0.0   0.0
3           1.0   0.0         0.0   2.0         0.0   0.0         0.0   0.0
4          10.0   6.0         1.0   1.0         0.0   0.0         1.0   2.0
..          ...   ...         ...   ...         ...   ...         ...   ...
405       194.0 226.0        76.0 137.0        27.0  52.0         1.0   7.0
406       116.0 156.0        36.0  55.0        18.0  22.0         3.0   2.0
407        53.0  59.0        26.0  21.0         3.0   5.0         0.0   0.0
408       118.0 168.0        66.0 101.0        21.0  26.0         4.0   5.0
409        72.0  91.0        34.0  40.0        11.0  17.0         1.0   4.0

                                                                               \
    Western countries
            0-9 years       10-19 years       20-29 years         30-39 years
                  Men Women         Men Women         Men   Women         Men
0                63.0  49.0        41.0  58.0       370.0   278.0       220.0
1                56.0  58.0        41.0  32.0       198.0   212.0       136.0
2                38.0  36.0        16.0  26.0        87.0    85.0        75.0
3                28.0  39.0        23.0  26.0        87.0    70.0        67.0
4               114.0  96.0        97.0 110.0       549.0   455.0       383.0
..                ...   ...         ...   ...         ...     ...         ...
405             148.0 130.0        85.0  88.0     1,128.0 1,567.0     1,258.0
406             215.0 197.0       102.0 112.0       812.0   947.0       868.0
407              77.0  82.0        40.0  37.0       324.0   414.0       427.0
408             246.0 264.0       123.0 111.0     1,361.0 1,586.0     1,534.0
409             277.0 285.0       144.0 151.0       980.0 1,250.0     1,131.0

                                                                               \

            40-49 years       50-59 years       60-69 years       70-79 years
      Women         Men Women         Men Women         Men Women         Men
0     137.0        89.0  45.0        49.0  33.0        14.0  18.0         9.0
1      91.0        59.0  46.0        21.0  26.0         8.0  10.0         6.0
2      56.0        27.0  30.0        31.0  31.0        11.0  13.0        11.0
3      53.0        24.0  26.0        18.0  25.0         8.0  11.0         9.0
4     254.0       169.0  91.0        80.0  65.0        29.0  29.0        12.0
..      ...         ...   ...         ...   ...         ...   ...         ...
405 1,271.0       485.0 376.0       272.0 159.0       140.0  94.0        56.0
406   762.0       429.0 331.0       223.0 136.0       119.0  54.0        29.0
407   405.0       228.0 177.0       152.0  77.0        61.0  46.0        32.0
408 1,429.0       709.0 542.0       429.0 204.0       169.0 110.0        62.0
409 1,219.0       609.0 594.0       367.0 269.0       182.0 132.0        77.0



          80-89 years       >= 90 years
    Women         Men Women         Men Women
0    18.0         1.0  10.0         0.0   0.0
1    10.0         7.0   2.0         0.0   0.0
2     5.0         3.0   7.0         1.0   0.0
3     5.0         2.0   4.0         1.0   0.0
4    30.0         6.0   9.0         3.0   1.0
..    ...         ...   ...         ...   ...
405  67.0        23.0  23.0         2.0   2.0
406  30.0        12.0  10.0         2.0   3.0
407  20.0         4.0  10.0         0.0   4.0
408  53.0         9.0   6.0         1.0   1.0
409 112.0        22.0  54.0         0.0   5.0

[410 rows x 62 columns]

## Express the number of people as fractions of the district-total:

To make it easier to compare the districts, we will express the number of people in each category as a fraction of the total number of people in a given district and year:

In [12]:
# Initialize the processing stage.
df_temp_citizenship_2 = df_temp_citizenship_1.copy()

# Calculate the total number of people
df_temp_citizenship_2['Total number of people'] = (
    df_temp_citizenship_2
    .loc[:, ['Number of people']]
    .sum(axis=1)
)

# Calculate percentages
df_temp_citizenship_2['Number of people'] = (
    df_temp_citizenship_2['Number of people']
    .div(df_temp_citizenship_2['Total number of people'], axis='index')
    .mul(100, axis='index')
)

# Change the name from "number of people" to ""% of people"
df_temp_citizenship_2.columns = (
    df_temp_citizenship_2.columns.set_levels(
        (
            df_temp_citizenship_2
            .columns
            .levels[0]
            .str
            .replace('Number of people', r'% of people')
            .str
            .replace('Total number of people', r'Number of people')
        ),
        level=0
    )
)

# Put assign the dataframe to the object containing
# the data for the superset.
cph_data_superset.citizenship = df_temp_citizenship_2

# Show the resulting dataframe.
display(cph_data_superset.citizenship)

     Year                   District % of people                          \
                                         Denmark
                                       0-9 years       10-19 years
                                             Men Women         Men Women
0    1980                Amager Vest         4.1   3.9         5.6   5.4
1    1980                 Amager Øst         3.4   3.4         4.1   4.4
2    1980                 Bispebjerg         2.6   2.4         3.4   3.6
3    1980             Brønshøj-Husum         4.5   4.0         6.1   5.5
4    1980                   Indre By         3.5   3.4         4.1   4.3
..    ...                        ...         ...   ...         ...   ...
405  2020                   Nørrebro         5.0   4.8         3.2   3.4
406  2020                      Valby         5.2   5.0         4.0   3.9
407  2020                    Vanløse         5.2   4.8         4.8   4.6
408  2020  Vesterbro/Kongens Enghave         5.2   4.8         3.2   3.3
409  2020                   Østerbro         4.7   4.3         4.2   3.9

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           8.7   7.7         6.7   5.8         4.7   4.4         5.1   5.4
1           9.2   8.4         5.7   4.7         4.0   4.1         5.6   6.9
2           5.9   5.7         4.6   3.7         3.6   4.0         5.9   8.0
3           5.8   5.4         5.7   5.8         4.5   5.3         6.8   8.5
4          10.1   9.5         8.1   7.0         4.6   4.3         5.0   5.4
..          ...   ...         ...   ...         ...   ...         ...   ...
405        11.2  13.7         8.8   9.1         4.6   4.4         3.6   3.5
406         9.8  10.5         6.5   6.4         5.4   5.2         4.2   4.2
407         8.5   8.9         6.1   6.4         5.8   5.9         5.1   5.3
408         9.3  10.6         7.9   7.9         6.4   5.7         4.7   4.0
409         8.9   9.9         6.4   6.2         5.1   5.4         5.1   5.6

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0           5.2   6.8         3.5   6.4         1.2   3.3         0.2   0.6
1           6.7   9.1         4.2   7.7         1.2   2.6         0.1   0.1
2           8.3  13.2         5.8  10.4         1.4   3.6         0.1   0.4
3           6.8   8.8         3.9   6.4         1.1   2.8         0.1   0.4
4           4.8   6.3         2.8   5.5         0.8   2.4         0.1   0.3
..          ...   ...         ...   ...         ...   ...         ...   ...
405         2.4   2.4         1.5   1.6         0.4   0.6         0.0   0.2
406         3.0   3.2         2.0   2.4         0.6   1.1         0.1   0.4
407         3.8   4.2         2.7   3.3         0.8   1.4         0.1   0.4
408         2.5   2.4         1.5   1.5         0.3   0.5         0.0   0.1
409         3.4   3.9         2.5   3.4         0.8   1.3         0.1   0.4

                                                                     \
    Non-western countries
                0-9 years       10-19 years       20-29 years
                      Men Women         Men Women         Men Women
0                     0.2   0.2         0.1   0.1         0.4   0.3
1                     0.4   0.3         0.2   0.2         0.3   0.3
2                     0.4   0.4         0.2   0.1         0.2   0.2
3                     0.1   0.1         0.0   0.0         0.1   0.1
4                     0.2   0.2         0.1   0.1         0.3   0.2
..                    ...   ...         ...   ...         ...   ...
405                   0.2   0.2         0.3   0.2         0.5   0.5
406                   0.5   0.5         0.3   0.3         0.8   0.9
407                   0.3   0.2         0.2   0.2         0.5   0.6
408                   0.3   0.3         0.2   0.1         0.5   0.6
409                   0.2   0.2         0.1   0.1         0.4   0.6

                                                                             \

    30-39 years       40-49 years       50-59 years       60-69 years
            Men Women         Men Women         Men Women         Men Women
0           0.5   0.2         0.1   0.1         0.0   0.0         0.0   0.0
1           0.4   0.2         0.1   0.1         0.0   0.0         0.0   0.0
2           0.3   0.2         0.2   0.1         0.0   0.0         0.0   0.0
3           0.2   0.1         0.0   0.0         0.0   0.0         0.0   0.0
4           0.4   0.1         0.1   0.1         0.1   0.0         0.0   0.0
..          ...   ...         ...   ...         ...   ...         ...   ...
405         0.7   0.6         0.5   0.6         0.4   0.5         0.2   0.3
406         1.2   1.1         0.6   0.6         0.4   0.5         0.2   0.3
407         0.8   0.8         0.4   0.5         0.3   0.3         0.1   0.1
408         0.9   1.0         0.4   0.5         0.3   0.3         0.2   0.2
409         0.7   0.8         0.3   0.4         0.2   0.2         0.1   0.1

                                                                             \
                                                          Western countries
    70-79 years       80-89 years       >= 90 years               0-9 years
            Men Women         Men Women         Men Women               Men
0           0.0   0.0         0.0   0.0         0.0   0.0               0.1
1           0.0   0.0         0.0   0.0         0.0   0.0               0.1
2           0.0   0.0         0.0   0.0         0.0   0.0               0.1
3           0.0   0.0         0.0   0.0         0.0   0.0               0.1
4           0.0   0.0         0.0   0.0         0.0   0.0               0.2
..          ...   ...         ...   ...         ...   ...               ...
405         0.1   0.2         0.0   0.1         0.0   0.0               0.2
406         0.1   0.1         0.0   0.0         0.0   0.0               0.3
407         0.1   0.1         0.0   0.0         0.0   0.0               0.2
408         0.1   0.1         0.0   0.0         0.0   0.0               0.3
409         0.0   0.0         0.0   0.0         0.0   0.0               0.3

                                                                             \

          10-19 years       20-29 years       30-39 years       40-49 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.1         0.8   0.6         0.5   0.3         0.2
1     0.1         0.1   0.1         0.4   0.4         0.3   0.2         0.1
2     0.1         0.0   0.1         0.2   0.2         0.2   0.1         0.1
3     0.1         0.1   0.1         0.2   0.2         0.2   0.1         0.1
4     0.2         0.2   0.2         1.2   1.0         0.8   0.6         0.4
..    ...         ...   ...         ...   ...         ...   ...         ...
405   0.2         0.1   0.1         1.4   2.0         1.6   1.6         0.6
406   0.3         0.2   0.2         1.3   1.5         1.4   1.2         0.7
407   0.2         0.1   0.1         0.8   1.0         1.0   1.0         0.6
408   0.4         0.2   0.1         1.8   2.1         2.1   1.9         1.0
409   0.4         0.2   0.2         1.2   1.6         1.4   1.5         0.8

                                                                             \

          50-59 years       60-69 years       70-79 years       80-89 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.1         0.0   0.0         0.0   0.0         0.0
1     0.1         0.0   0.1         0.0   0.0         0.0   0.0         0.0
2     0.1         0.1   0.1         0.0   0.0         0.0   0.0         0.0
3     0.1         0.0   0.1         0.0   0.0         0.0   0.0         0.0
4     0.2         0.2   0.1         0.1   0.1         0.0   0.1         0.0
..    ...         ...   ...         ...   ...         ...   ...         ...
405   0.5         0.3   0.2         0.2   0.1         0.1   0.1         0.0
406   0.5         0.4   0.2         0.2   0.1         0.0   0.0         0.0
407   0.4         0.4   0.2         0.1   0.1         0.1   0.0         0.0
408   0.7         0.6   0.3         0.2   0.1         0.1   0.1         0.0
409   0.7         0.5   0.3         0.2   0.2         0.1   0.1         0.0

                            Number of people

          >= 90 years
    Women         Men Women
0     0.0         0.0   0.0         47,828.0
1     0.0         0.0   0.0         48,473.0
2     0.0         0.0   0.0         44,887.0
3     0.0         0.0   0.0         39,683.0
4     0.0         0.0   0.0         45,758.0
..    ...         ...   ...              ...
405   0.0         0.0   0.0         79,601.0
406   0.0         0.0   0.0         61,895.0
407   0.0         0.0   0.0         41,158.0
408   0.0         0.0   0.0         74,175.0
409   0.1         0.0   0.0         80,369.0

[410 rows x 63 columns]

## Check that the sum of citizens looks right

The number of people in Copenhagen in 2019 before the transformation of the dataset has been calculated to ***629,513***. Let's see if our numbers add up:

In [13]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    cph_data_superset.citizenship
    .loc[cph_data_superset.citizenship['Year'] == 2019,
         'Number of people']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of people in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of people in Copenhagen in 2019 has been calculated to ***629,513.***

Everything seems ok.

# Prepare dataset for inclusion: ***Dwellings***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [14]:
display(cph_data_superset.dwellings)

,Year,District,Dwelling ownership,Total square meters occupied dwellings
1,1991,Indre By,Owner-occupied,"566,699.0"
2,1991,Østerbro,Owner-occupied,"635,362.0"
3,1991,Nørrebro,Owner-occupied,"298,278.0"
4,1991,Vesterbro/Kongens Enghave,Owner-occupied,"273,584.0"
5,1991,Valby,Owner-occupied,"551,526.0"
...,...,...,...,...
11846,2021,Vanløse,Unknown,0.0
11847,2021,Brønshøj-Husum,Unknown,0.0
11848,2021,Bispebjerg,Unknown,0.0
11849,2021,Amager Øst,Unknown,0.0
11850,2021,Amager Vest,Unknown,0.0

## Check the total dwelling area before transformations

To make sure that our transformations are correct, we will compare the total area of dwellings in our dataset in 2019 before and after the transformations.

In [15]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    cph_data_superset.dwellings
    .loc[cph_data_superset.dwellings['Year'] == 2019,
         'Total square meters occupied dwellings']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The total area of dwellings in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}*** $m^2$.')

The total area of dwellings in Copenhagen in 2019 has been calculated to ***26,073,695*** $m^2$.

## Create new columns containing the number of total of square meters for each dwelling ownership group

Let's create a column for each combination of the non-continuous parameters so that each row of the dataset will represent the data for a unique combination of a year and a district:

In [16]:
# Create new columns containing the number of people for dwelling ownership' group.
df_temp_dwellings_1 = (
    df_create_column_for_each_unique_value(
        cph_data_superset.dwellings,
        category_columns='Dwelling ownership',
        value_columns='Total square meters occupied dwellings'
    )
)

# Show the results.
display(df_temp_dwellings_1)

     Year                   District Total square meters occupied dwellings  \
                                                        Housing cooperative
0    1991                Amager Vest                              304,751.0
1    1991                 Amager Øst                              457,312.0
2    1991                 Bispebjerg                              225,184.0
3    1991             Brønshøj-Husum                               66,738.0
4    1991                   Indre By                              334,860.0
..    ...                        ...                                    ...
305  2021                   Nørrebro                            1,356,364.0
306  2021                      Valby                              589,246.0
307  2021                    Vanløse                              412,189.0
308  2021  Vesterbro/Kongens Enghave                            1,096,714.0
309  2021                   Østerbro                            1,322,323.0

                                                                         \
    Non-profit housing Owner-occupied Private rental Public authorities
0            363,436.0      422,697.0      656,597.0           47,081.0
1            279,473.0      525,356.0      588,056.0           97,804.0
2            600,972.0      243,548.0      397,895.0          315,623.0
3            540,095.0      572,879.0      234,872.0           92,475.0
4            123,646.0      566,699.0    1,211,717.0          141,718.0
..                 ...            ...            ...                ...
305          687,400.0      305,394.0      707,955.0           55,142.0
306          493,886.0      790,576.0      642,010.0           13,061.0
307          202,948.0      669,109.0      391,645.0            2,875.0
308          459,806.0      667,276.0      912,130.0           21,060.0
309          368,054.0      989,282.0    1,080,313.0           18,105.0


    Unknown
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
..      ...
305     0.0
306     0.0
307     0.0
308     0.0
309     0.0

[310 rows x 8 columns]

## Check if there are any square meters in the column: `Unknown`

As we can see in the table above, it seems that there might not be any square meters assigned to the column: `Unkown`, which would make this column superficial. Let's investigate that:

In [17]:
# Get the sum of m2 in the column "Unknown".
m2_in_uknown = (
    df_temp_dwellings_1
    .loc[:, ('Total square meters occupied dwellings', 'Unknown')].sum()
)

# Show the result.
printmd(
    f'The sum of square meters in the column `Unknown` is: ***{m2_in_uknown}***.')

The sum of square meters in the column `Unknown` is: ***0.0***.

Therefore, we will remove the column `Unknown`:

In [18]:
# Remove the column "Unknown":
df_temp_dwellings_2 = (
    df_temp_dwellings_1.drop(
        ('Total square meters occupied dwellings', 'Unknown'),
        axis=1
    )
)

# Show the results.
display(df_temp_dwellings_2)

     Year                   District Total square meters occupied dwellings  \
                                                        Housing cooperative
0    1991                Amager Vest                              304,751.0
1    1991                 Amager Øst                              457,312.0
2    1991                 Bispebjerg                              225,184.0
3    1991             Brønshøj-Husum                               66,738.0
4    1991                   Indre By                              334,860.0
..    ...                        ...                                    ...
305  2021                   Nørrebro                            1,356,364.0
306  2021                      Valby                              589,246.0
307  2021                    Vanløse                              412,189.0
308  2021  Vesterbro/Kongens Enghave                            1,096,714.0
309  2021                   Østerbro                            1,322,323.0


    Non-profit housing Owner-occupied Private rental Public authorities
0            363,436.0      422,697.0      656,597.0           47,081.0
1            279,473.0      525,356.0      588,056.0           97,804.0
2            600,972.0      243,548.0      397,895.0          315,623.0
3            540,095.0      572,879.0      234,872.0           92,475.0
4            123,646.0      566,699.0    1,211,717.0          141,718.0
..                 ...            ...            ...                ...
305          687,400.0      305,394.0      707,955.0           55,142.0
306          493,886.0      790,576.0      642,010.0           13,061.0
307          202,948.0      669,109.0      391,645.0            2,875.0
308          459,806.0      667,276.0      912,130.0           21,060.0
309          368,054.0      989,282.0    1,080,313.0           18,105.0

[310 rows x 7 columns]

## Express the areas as fractions of the district-total

To make it easier to compare the districts, we will express the areas in each category as a fraction of the total area of occupied dwellings in a given district and year:

In [19]:
# Initialize the processing stage.
df_temp_dwellings_3 = df_temp_dwellings_2.copy()

# Calculate the total number of m2
df_temp_dwellings_3['Total m2'] = (
    df_temp_dwellings_3
    .loc[:, ['Total square meters occupied dwellings']]
    .sum(axis=1)
)

# Calculate percentages.
df_temp_dwellings_3['Total square meters occupied dwellings'] = (
    df_temp_dwellings_3['Total square meters occupied dwellings']
    .div(df_temp_dwellings_3['Total m2'], axis='index')
    .mul(100, axis='index')
)

# Change the name from "Total square meters occupied dwellings"
# to "% of total dwellings area."
df_temp_dwellings_3.columns = (
    df_temp_dwellings_3.columns.set_levels(
        (
            df_temp_dwellings_3
            .columns
            .levels[0]
            .str
            .replace('Total square meters occupied dwellings', r'% of total dwellings area')
            .str
            .replace('Total m2', r'Total dwellings area')
        ),
        level=0
    )
)

# Put assign the dataframe to the object containing
# the data for the superset.
cph_data_superset.dwellings = df_temp_dwellings_3

# Show the resulting dataframe.
display(cph_data_superset.dwellings)

     Year                   District % of total dwellings area  \
                                           Housing cooperative
0    1991                Amager Vest                      17.0
1    1991                 Amager Øst                      23.5
2    1991                 Bispebjerg                      12.6
3    1991             Brønshøj-Husum                       4.4
4    1991                   Indre By                      14.1
..    ...                        ...                       ...
305  2021                   Nørrebro                      43.6
306  2021                      Valby                      23.3
307  2021                    Vanløse                      24.6
308  2021  Vesterbro/Kongens Enghave                      34.7
309  2021                   Østerbro                      35.0

                                                                         \
    Non-profit housing Owner-occupied Private rental Public authorities
0                 20.3           23.6           36.6                2.6
1                 14.3           27.0           30.2                5.0
2                 33.7           13.7           22.3               17.7
3                 35.8           38.0           15.6                6.1
4                  5.2           23.8           50.9                6.0
..                 ...            ...            ...                ...
305               22.1            9.8           22.7                1.8
306               19.5           31.3           25.4                0.5
307               12.1           39.9           23.3                0.2
308               14.6           21.1           28.9                0.7
309                9.7           26.2           28.6                0.5

    Total dwellings area

0            1,794,562.0
1            1,948,001.0
2            1,783,222.0
3            1,507,059.0
4            2,378,640.0
..                   ...
305          3,112,255.0
306          2,528,779.0
307          1,678,766.0
308          3,156,986.0
309          3,778,077.0

[310 rows x 8 columns]

## Check that the total area looks right

The total area of occupied dwellings in Copenhagen in 2019 before the transformation of the dataset has been calculated to ***26,073,695*** $m^2$. Let's see if our numbers add up:

In [20]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    cph_data_superset.dwellings
    .loc[cph_data_superset.dwellings['Year'] == 2019,
         'Total dwellings area']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The total area of dwellings in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}*** $m^2$.')

The total area of dwellings in Copenhagen in 2019 has been calculated to ***26,073,695*** $m^2$.

Everything seems ok.

# Prepare dataset for inclusion: ***Family Type and Children***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [21]:
display(cph_data_superset.family_type_and_children)

,Year,District,Family type,Number of children,Number of families
1219,1998,Amager Vest,Children below 18 years not living with parents,0 children,82.0
1220,1999,Amager Vest,Children below 18 years not living with parents,0 children,78.0
1221,2000,Amager Vest,Children below 18 years not living with parents,0 children,77.0
1222,2001,Amager Vest,Children below 18 years not living with parents,0 children,72.0
1223,2002,Amager Vest,Children below 18 years not living with parents,0 children,81.0
...,...,...,...,...,...
36795,2016,Østerbro,Single women,More than 3 children,21.0
36796,2017,Østerbro,Single women,More than 3 children,20.0
36797,2018,Østerbro,Single women,More than 3 children,21.0
36798,2019,Østerbro,Single women,More than 3 children,19.0
36799,2020,Østerbro,Single women,More than 3 children,18.0

## Check the total total number of families before transformations

To make sure that our transformations are correct, we will compare the total number of families in our dataset in 2019 before and after the transformations.

In [22]:
# Sum all the number of people in 2019.
sum_2019 = (
    cph_data_superset.family_type_and_children
    .loc[cph_data_superset.family_type_and_children['Year'] == 2019,
         'Number of families']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of families of Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of families of Copenhagen in 2019 has been calculated to ***384,090.***

## Create new columns containing the number of families for each family type and number of children

Let's create a column for each combination of the non-continuous parameters so that each row of the dataset will represent the data for a unique combination of a year and a district:

In [23]:
# Create new columns containing the number of families
# for each family type and number of children.
df_temp_family_type_and_children_1 = (
    df_create_column_for_each_unique_value(
        cph_data_superset.family_type_and_children,
        category_columns=['Family type', 'Number of children'],
        value_columns='Number of families'
    )
)

# Show the result
display(df_temp_family_type_and_children_1)

     Year                   District  \


0    1998                Amager Vest
1    1998                 Amager Øst
2    1998                 Bispebjerg
3    1998             Brønshøj-Husum
4    1998                   Indre By
..    ...                        ...
225  2020                   Nørrebro
226  2020                      Valby
227  2020                    Vanløse
228  2020  Vesterbro/Kongens Enghave
229  2020                   Østerbro

                                 Number of families                     \
    Children below 18 years not living with parents
                                         0 children 1 child 2 children
0                                              82.0     0.0        0.0
1                                              62.0     0.0        0.0
2                                              82.0     0.0        0.0
3                                              88.0     0.0        0.0
4                                              52.0     0.0        0.0
..                                              ...     ...        ...
225                                            55.0     0.0        0.0
226                                            57.0     0.0        0.0
227                                            36.0     0.0        0.0
228                                            52.0     0.0        0.0
229                                            83.0     0.0        0.0

                                     \

    3 children More than 3 children
0          0.0                  0.0
1          0.0                  0.0
2          0.0                  0.0
3          0.0                  0.0
4          0.0                  0.0
..         ...                  ...
225        0.0                  0.0
226        0.0                  0.0
227        0.0                  0.0
228        0.0                  0.0
229        0.0                  0.0

                                                                       \
    Couples living in consensual union and cohabiting couples
                                                   0 children 1 child
0                                              1,996.0          561.0
1                                              2,617.0          640.0
2                                              2,116.0          397.0
3                                              1,129.0          490.0
4                                              2,374.0          605.0
..                                                 ...            ...
225                                            5,358.0        1,539.0
226                                            3,292.0        1,039.0
227                                            1,875.0          587.0
228                                            4,622.0        1,535.0
229                                            4,453.0        1,321.0

                                                \

    2 children 3 children More than 3 children
0        294.0       61.0                 16.0
1        275.0       42.0                  7.0
2        191.0       29.0                  3.0
3        320.0       62.0                 11.0
4        289.0       48.0                 10.0
..         ...        ...                  ...
225      791.0      120.0                 48.0
226      586.0       86.0                 25.0
227      381.0       81.0                 15.0
228      781.0      136.0                 11.0
229      796.0      147.0                 20.0

                                                                              \
    Married couples and registered partnership
                                    0 children 1 child 2 children 3 children
0                                      3,100.0 1,060.0    1,022.0      246.0
1                                      3,259.0 1,043.0      909.0      255.0
2                                      2,933.0   835.0      702.0      232.0
3                                      3,362.0 1,179.0    1,349.0      390.0
4                                      2,970.0   980.0      661.0      102.0
..                                         ...     ...        ...        ...
225                                    2,530.0 1,512.0    1,551.0      545.0
226                                    2,972.0 1,476.0    1,800.0      551.0
227                                    2,464.0   959.0    1,454.0      419.0
228                                    2,950.0 1,646.0    1,805.0      409.0
229                                    4,226.0 1,891.0    2,205.0      518.0

                                                                   \
                         Single men
    More than 3 children 0 children 1 child 2 children 3 children
0                  115.0    8,562.0   150.0       42.0        2.0
1                   68.0    9,857.0   175.0       20.0        5.0
2                  102.0    9,656.0   155.0       20.0        2.0
3                  112.0    5,015.0   121.0       31.0        3.0
4                   30.0    9,666.0   146.0       34.0        1.0
..                   ...        ...     ...        ...        ...
225                162.0   16,220.0   289.0       70.0       11.0
226                104.0   11,416.0   301.0       64.0       10.0
227                 53.0    6,885.0   199.0       37.0        4.0
228                 51.0   15,557.0   384.0       60.0        7.0
229                 66.0   14,175.0   381.0       71.0        9.0

                                                                     \
                         Single women
    More than 3 children   0 children 1 child 2 children 3 children
0                    0.0      8,975.0   996.0      489.0      122.0
1                    3.0      9,893.0   937.0      369.0       59.0
2                    1.0     10,836.0   852.0      317.0       72.0
3                    3.0      6,657.0   763.0      377.0      107.0
4                    0.0      9,728.0   888.0      250.0       38.0
..                   ...          ...     ...        ...        ...
225                  3.0     17,342.0 1,497.0      674.0      162.0
226                  2.0     10,869.0 1,307.0      592.0      120.0
227                  0.0      7,202.0   769.0      327.0       77.0
228                  1.0     13,758.0 1,544.0      672.0      115.0
229                  1.0     15,958.0 1,675.0      797.0      110.0



    More than 3 children
0                   41.0
1                   17.0
2                   17.0
3                   32.0
4                    7.0
..                   ...
225                 94.0
226                 43.0
227                 18.0
228                 23.0
229                 18.0

[230 rows x 27 columns]

## Express the number of families as fractions of the district-total

To make it easier to compare the districts, we will express the number of families in each category as a fraction of the total number of families in a given district and year:

In [24]:
# Initialize the processing stage.
df_temp_family_type_and_children_2 = df_temp_family_type_and_children_1.copy()

# Calculate the total number of people.
df_temp_family_type_and_children_2['Total number of families'] = (
    df_temp_family_type_and_children_2
    .loc[:, ['Number of families']]
    .sum(axis=1)
)

# Calculate percentages.
df_temp_family_type_and_children_2['Number of families'] = (
    df_temp_family_type_and_children_2['Number of families']
    .div(df_temp_family_type_and_children_2['Total number of families'], axis='index')
    .mul(100, axis='index')
)

# Change the name from "Number of families'"
# to ""% of families"
df_temp_family_type_and_children_2.columns = (
    df_temp_family_type_and_children_2.columns.set_levels(
        (
            df_temp_family_type_and_children_2
            .columns
            .levels[0]
            .str
            .replace('Number of families', r'% of families')
            .str
            .replace('Total number of families', r'Number of families')
        ),
        level=0
    )
)

# Put assign the dataframe to the object containing
# the data for the superset.
cph_data_superset.family_type_and_children = df_temp_family_type_and_children_2

# Show the resulting dataframe.
display(cph_data_superset.family_type_and_children)

     Year                   District  \


0    1998                Amager Vest
1    1998                 Amager Øst
2    1998                 Bispebjerg
3    1998             Brønshøj-Husum
4    1998                   Indre By
..    ...                        ...
225  2020                   Nørrebro
226  2020                      Valby
227  2020                    Vanløse
228  2020  Vesterbro/Kongens Enghave
229  2020                   Østerbro

                                      % of families                     \
    Children below 18 years not living with parents
                                         0 children 1 child 2 children
0                                               0.3     0.0        0.0
1                                               0.2     0.0        0.0
2                                               0.3     0.0        0.0
3                                               0.4     0.0        0.0
4                                               0.2     0.0        0.0
..                                              ...     ...        ...
225                                             0.1     0.0        0.0
226                                             0.2     0.0        0.0
227                                             0.2     0.0        0.0
228                                             0.1     0.0        0.0
229                                             0.2     0.0        0.0

                                     \

    3 children More than 3 children
0          0.0                  0.0
1          0.0                  0.0
2          0.0                  0.0
3          0.0                  0.0
4          0.0                  0.0
..         ...                  ...
225        0.0                  0.0
226        0.0                  0.0
227        0.0                  0.0
228        0.0                  0.0
229        0.0                  0.0

                                                                       \
    Couples living in consensual union and cohabiting couples
                                                   0 children 1 child
0                                                  7.1            2.0
1                                                  8.6            2.1
2                                                  7.2            1.3
3                                                  5.2            2.3
4                                                  8.2            2.1
..                                                 ...            ...
225                                               10.6            3.0
226                                                9.0            2.8
227                                                7.9            2.5
228                                               10.0            3.3
229                                                9.1            2.7

                                                \

    2 children 3 children More than 3 children
0          1.1        0.2                  0.1
1          0.9        0.1                  0.0
2          0.6        0.1                  0.0
3          1.5        0.3                  0.1
4          1.0        0.2                  0.0
..         ...        ...                  ...
225        1.6        0.2                  0.1
226        1.6        0.2                  0.1
227        1.6        0.3                  0.1
228        1.7        0.3                  0.0
229        1.6        0.3                  0.0

                                                                              \
    Married couples and registered partnership
                                    0 children 1 child 2 children 3 children
0                                         11.1     3.8        3.7        0.9
1                                         10.7     3.4        3.0        0.8
2                                          9.9     2.8        2.4        0.8
3                                         15.6     5.5        6.2        1.8
4                                         10.3     3.4        2.3        0.4
..                                         ...     ...        ...        ...
225                                        5.0     3.0        3.1        1.1
226                                        8.1     4.0        4.9        1.5
227                                       10.3     4.0        6.1        1.8
228                                        6.4     3.6        3.9        0.9
229                                        8.6     3.9        4.5        1.1

                                                                   \
                         Single men
    More than 3 children 0 children 1 child 2 children 3 children
0                    0.4       30.7     0.5        0.2        0.0
1                    0.2       32.3     0.6        0.1        0.0
2                    0.3       32.7     0.5        0.1        0.0
3                    0.5       23.2     0.6        0.1        0.0
4                    0.1       33.5     0.5        0.1        0.0
..                   ...        ...     ...        ...        ...
225                  0.3       32.1     0.6        0.1        0.0
226                  0.3       31.1     0.8        0.2        0.0
227                  0.2       28.9     0.8        0.2        0.0
228                  0.1       33.7     0.8        0.1        0.0
229                  0.1       29.0     0.8        0.1        0.0

                                                                     \
                         Single women
    More than 3 children   0 children 1 child 2 children 3 children
0                    0.0         32.1     3.6        1.8        0.4
1                    0.0         32.4     3.1        1.2        0.2
2                    0.0         36.7     2.9        1.1        0.2
3                    0.0         30.8     3.5        1.7        0.5
4                    0.0         33.7     3.1        0.9        0.1
..                   ...          ...     ...        ...        ...
225                  0.0         34.3     3.0        1.3        0.3
226                  0.0         29.6     3.6        1.6        0.3
227                  0.0         30.2     3.2        1.4        0.3
228                  0.0         29.8     3.3        1.5        0.2
229                  0.0         32.6     3.4        1.6        0.2

                         Number of families

    More than 3 children
0                    0.1           27,932.0
1                    0.1           30,512.0
2                    0.1           29,550.0
3                    0.1           21,601.0
4                    0.0           28,879.0
..                   ...                ...
225                  0.2           50,573.0
226                  0.1           36,712.0
227                  0.1           23,842.0
228                  0.0           46,119.0
229                  0.0           48,921.0

[230 rows x 28 columns]

## Check that the number of families looks right

The total number of families in Copenhagen in 2019 before the transformation of the dataset has been calculated to ***384,090***. Let's see if our numbers add up:

In [25]:
# Sum all the number of people in 2019.
sum_2019 = (
    cph_data_superset.family_type_and_children
    .loc[cph_data_superset.family_type_and_children['Year'] == 2019,
         'Number of families']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of families of Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of families of Copenhagen in 2019 has been calculated to ***384,090.***

Everything seems ok.

# Prepare dataset for inclusion: ***Income***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [26]:
display(cph_data_superset.income)

,Year,District,Sex,Total income in district (kr.),Average income (kr.),Number of people
106,1987,Amager Vest,Men,"2,368,858,000.0","138,659.0","17,084.0"
107,1987,Amager Vest,Women,"2,056,151,000.0","103,898.0","19,790.0"
108,1987,Amager Øst,Men,"2,614,378,000.0","140,520.0","18,605.0"
109,1987,Amager Øst,Women,"2,191,694,000.0","103,348.0","21,207.0"
110,1987,Bispebjerg,Men,"2,127,197,000.0","128,679.0","16,531.0"
...,...,...,...,...,...,...
4285,2019,Vanløse,Women,"5,566,365,000.0","319,410.0","17,427.0"
4286,2019,Vesterbro/Kongens Enghave,Men,"11,307,215,000.0","381,678.0","29,625.0"
4287,2019,Vesterbro/Kongens Enghave,Women,"9,399,658,000.0","319,325.0","29,436.0"
4288,2019,Østerbro,Men,"13,865,000,000.0","448,024.0","30,947.0"
4289,2019,Østerbro,Women,"11,846,349,000.0","342,786.0","34,559.0"

## Check the number of people

To make sure that our comparisons hold, let's compare the number of people in the ***Income*** dataset with that of the ***Citizenship*** dataset.

In [27]:
# Sum all the number of people in 2019.
sum_2019 = (
    cph_data_superset.income
    .loc[cph_data_superset.income['Year'] == 2019,
         'Number of people']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of people in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of people in Copenhagen in 2019 has been calculated to ***515,890.***

This number is significantly lower than the ***629,513*** we get from the ***Citizenship*** dataset. Let's investigate why:

In [28]:
# Define the relevant columns.
columns = ['Year', 'District', 'Number of people']

# Pre process the dataframes.
df_n_people_citizenship = cph_data_superset.citizenship[columns]
df_n_people_citizenship.columns = df_n_people_citizenship.columns.droplevel([1, 2, 3])

# Create a dataframe showing the number of people by year and district
# for the Citizenship and Income dataset.
df_n_people = (
    df_n_people_citizenship
    .merge(cph_data_superset.income[columns],
           on=['Year', 'District'],
           suffixes=[', ' + cph_data_superset.citizenship.attrs['name'],
                     ', ' + cph_data_superset.income.attrs['name']],
           how='inner')
)

# Add a column showing the difference in the number of people.
df_n_people['Number of people, Citizenship - Income'] = (
    df_n_people['Number of people, Citizenship']
    .sub(df_n_people['Number of people, Income'])
)

# Display the results.
display(df_n_people)
printmd('Statistics about the difference:')
display(df_n_people['Number of people, Citizenship - Income']
        .describe()
        .to_frame())

,Year,District,"Number of people, Citizenship","Number of people, Income","Number of people, Citizenship - Income"
0,1987,Amager Vest,"45,978.0","17,084.0","28,894.0"
1,1987,Amager Vest,"45,978.0","19,790.0","26,188.0"
2,1987,Amager Øst,"45,879.0","18,605.0","27,274.0"
3,1987,Amager Øst,"45,879.0","21,207.0","24,672.0"
4,1987,Bispebjerg,"43,004.0","16,531.0","26,473.0"
...,...,...,...,...,...
655,2019,Vanløse,"41,137.0","17,427.0","23,710.0"
656,2019,Vesterbro/Kongens Enghave,"72,128.0","29,625.0","42,503.0"
657,2019,Vesterbro/Kongens Enghave,"72,128.0","29,436.0","42,692.0"
658,2019,Østerbro,"79,908.0","30,947.0","48,961.0"
659,2019,Østerbro,"79,908.0","34,559.0","45,349.0"

Statistics about the difference:

       Number of people, Citizenship - Income
count                                   660.0
mean                                 30,049.3
std                                   7,338.8
min                                  17,930.0
25%                                  24,801.2
50%                                  27,824.0
75%                                  34,145.0
max                                  48,961.0

We can see that there are around 8,500, or around 20% less citizens in each district in the ***Income*** dataset than in the ***Citizenship*** dataset. I believe the difference caused by exclusion of children from the ***Income*** data.

## Remove columns containing total income and number of people per district.

Because we already know the total number of people in Copenhagen from the ***Citizenship*** dataset, I choose to only keep the information about *average income* for every year and district:

In [29]:
# Remove columns containing total income and number of people per district.
df_temp_income_1 = (
    cph_data_superset.income
    .drop(['Number of people', 'Total income in district (kr.)'],
          axis=1)
)

# Show the result.
display(df_temp_income_1)

      Year                   District    Sex  Average income (kr.)
106   1987                Amager Vest    Men             138,659.0
107   1987                Amager Vest  Women             103,898.0
108   1987                 Amager Øst    Men             140,520.0
109   1987                 Amager Øst  Women             103,348.0
110   1987                 Bispebjerg    Men             128,679.0
...    ...                        ...    ...                   ...
4285  2019                    Vanløse  Women             319,410.0
4286  2019  Vesterbro/Kongens Enghave    Men             381,678.0
4287  2019  Vesterbro/Kongens Enghave  Women             319,325.0
4288  2019                   Østerbro    Men             448,024.0
4289  2019                   Østerbro  Women             342,786.0

[726 rows x 4 columns]

## Check the total income before transformations

To make sure that our transformations are correct, we will compare the total income in our dataset in 2019 before and after the transformations.

In [30]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    df_temp_income_1
    .loc[df_temp_income_1['Year'] == 2019,
         'Average income (kr.)']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The total average income in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}*** kr.')

The total average income in Copenhagen in 2019 has been calculated to ***7,197,974*** kr.

## Create new columns containing the income data for each sex

Let's create a column for each combination of the non-continuous parameters so that each row of the dataset will represent the data for a unique combination of a year and a district:

In [31]:
# Create new columns containing income data for each sex.
cph_data_superset.income = (
    df_create_column_for_each_unique_value(
        df_temp_income_1,
        category_columns=['Sex'],
        value_columns=['Average income (kr.)']                       
    )
)

# Show the result.
display(cph_data_superset.income)

     Year                   District Average income (kr.)
                                                      Men     Women
0    1987                Amager Vest            138,659.0 103,898.0
1    1987                 Amager Øst            140,520.0 103,348.0
2    1987                 Bispebjerg            128,679.0  95,336.0
3    1987             Brønshøj-Husum            150,965.0 103,361.0
4    1987                   Indre By            170,776.0 124,423.0
..    ...                        ...                  ...       ...
358  2019                  Unlocated            146,470.0 139,156.0
359  2019                      Valby            363,440.0 301,748.0
360  2019                    Vanløse            382,865.0 319,410.0
361  2019  Vesterbro/Kongens Enghave            381,678.0 319,325.0
362  2019                   Østerbro            448,024.0 342,786.0

[363 rows x 4 columns]

## Check that the total average income looks right

The total average income in Copenhagen in 2019 before the transformation of the dataset has been calculated to ***7,197,974*** kr. Let's see if our numbers add up:

In [32]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    df_temp_income_1
    .loc[df_temp_income_1['Year'] == 2019,
         'Average income (kr.)']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The total average income in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}*** kr.')

The total average income in Copenhagen in 2019 has been calculated to ***7,197,974*** kr.

Everything seems ok.

# Prepare dataset for inclusion: ***Lifespan***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [33]:
display(cph_data_superset.life_span)

     Year                   District  Average life span (5-year average)
0    2009                   Indre By                                79.4
1    2009                   Østerbro                                78.4
2    2009                   Nørrebro                                72.3
3    2009  Vesterbro/Kongens Enghave                                73.5
4    2009                      Valby                                75.9
..    ...                        ...                                 ...
127  2020             Brønshøj-Husum                                78.5
128  2020                 Bispebjerg                                77.8
129  2020                 Amager Øst                                81.0
130  2020                Amager Vest                                78.7
131  2020                  Unlocated                                 0.0

[132 rows x 3 columns]

This dataset has just the format we need, so we will leave it as it is.

# Prepare dataset for inclusion in the superset: ***Marital Status***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [34]:
display(cph_data_superset.marital_status)

        Year     District    Sex          Age Marital status  Number of people
2491    1974  Amager Vest    Men    0-9 years       Divorced               0.0
2492    1975  Amager Vest    Men    0-9 years       Divorced               0.0
2493    1976  Amager Vest    Men    0-9 years       Divorced               0.0
2494    1977  Amager Vest    Men    0-9 years       Divorced               0.0
2495    1978  Amager Vest    Men    0-9 years       Divorced               0.0
...      ...          ...    ...          ...            ...               ...
240635  2016     Østerbro  Women  >= 90 years        Widowed             235.0
240636  2017     Østerbro  Women  >= 90 years        Widowed             220.0
240637  2018     Østerbro  Women  >= 90 years        Widowed             211.0
240638  2019     Østerbro  Women  >= 90 years        Widowed             208.0
240639  2020     Østerbro  Women  >= 90 years        Widowed             199.0

[37600 rows x 6 columns]

## Check the number of people before transformations

To make sure that our transformations are correct, we will compare the summed number of people in our dataset in 2019 before and after the transformations.

In [35]:
# Sum all the numbers of people in 2019.
sum_2019 = (
    cph_data_superset.marital_status
    .loc[cph_data_superset.marital_status['Year'] == 2019,
         'Number of people']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of people in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of people in Copenhagen in 2019 has been calculated to ***629,513.***

This number is the same as in the ***Citizenship*** dataset. That is good news, as we appreciate consistency.

## Create new columns containing the number of people for each marital status, age group, and sex

Let's create a column for each combination of the non-continuous parameters so that each row of the dataset will represent the data for a unique combination of a year and a district:

In [36]:
# Create new columns containing the number of people for each citizenship group:
df_temp_marital_status_2 = (
    df_create_column_for_each_unique_value(
        cph_data_superset.marital_status,
        category_columns=['Marital status', 'Age', 'Sex'],
        value_columns='Number of people'
    )
)

# Show the results.
display(df_temp_marital_status_2)

     Year                   District Number of people                          \
                                             Divorced
                                            0-9 years       10-19 years
                                                  Men Women         Men Women
0    1974                Amager Vest              0.0   0.0         0.0   0.0
1    1974                 Amager Øst              0.0   0.0         0.0   1.0
2    1974                 Bispebjerg              0.0   0.0         0.0   0.0
3    1974             Brønshøj-Husum              0.0   0.0         0.0   0.0
4    1974                   Indre By              0.0   0.0         1.0   2.0
..    ...                        ...              ...   ...         ...   ...
465  2020                   Nørrebro              0.0   0.0         0.0   0.0
466  2020                      Valby              0.0   0.0         0.0   0.0
467  2020                    Vanløse              0.0   0.0         0.0   0.0
468  2020  Vesterbro/Kongens Enghave              0.0   0.0         1.0   0.0
469  2020                   Østerbro              0.0   0.0         0.0   0.0

                                                                               \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men   Women
0         275.0 333.0       559.0 508.0       531.0 422.0       500.0   525.0
1         229.0 307.0       401.0 394.0       401.0 518.0       454.0   721.0
2         152.0 229.0       334.0 333.0       365.0 532.0       442.0   975.0
3         127.0 230.0       267.0 338.0       242.0 456.0       244.0   509.0
4         370.0 445.0       668.0 518.0       621.0 534.0       665.0   682.0
..          ...   ...         ...   ...         ...   ...         ...     ...
465        23.0  47.0       222.0 336.0       558.0 789.0       680.0   911.0
466        19.0  52.0       187.0 331.0       531.0 711.0       661.0   827.0
467         8.0  22.0       101.0 183.0       299.0 424.0       434.0   580.0
468        13.0  37.0       250.0 336.0       678.0 802.0       874.0   912.0
469        13.0  32.0       175.0 285.0       557.0 856.0       889.0 1,252.0

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0         357.0 456.0       125.0 304.0        42.0 110.0         4.0  15.0
1         352.0 692.0       144.0 327.0        23.0  97.0         0.0   3.0
2         404.0 912.0       121.0 431.0        30.0  88.0         2.0   7.0
3         216.0 422.0       105.0 209.0        14.0  75.0         2.0   4.0
4         494.0 640.0       197.0 389.0        42.0 123.0         1.0   7.0
..          ...   ...         ...   ...         ...   ...         ...   ...
465       488.0 637.0       346.0 544.0        79.0 167.0         9.0  23.0
466       473.0 603.0       303.0 471.0        73.0 164.0         4.0  35.0
467       338.0 479.0       236.0 405.0        61.0 145.0         4.0  22.0
468       492.0 610.0       357.0 430.0        67.0 123.0         4.0  13.0
469       537.0 894.0       445.0 943.0       114.0 333.0         7.0  43.0

                                                                     \
    Married / seperated
              0-9 years       10-19 years       20-29 years
                    Men Women         Men Women         Men   Women
0                   0.0   0.0         7.0  79.0     1,885.0 2,306.0
1                   0.0   0.0         4.0  55.0     1,792.0 2,252.0
2                   0.0   0.0         0.0  32.0     1,053.0 1,343.0
3                   0.0   0.0         1.0  22.0     1,057.0 1,454.0
4                   0.0   0.0         4.0  67.0     1,703.0 2,105.0
..                  ...   ...         ...   ...         ...     ...
465                 0.0   0.0         1.0   1.0       317.0   536.0
466                 0.0   0.0         0.0   1.0       432.0   691.0
467                 0.0   0.0         0.0   0.0       231.0   343.0
468                 0.0   0.0         0.0   0.0       307.0   535.0
469                 0.0   0.0         0.0   0.0       259.0   473.0

                                                                             \

    30-39 years         40-49 years         50-59 years         60-69 years
            Men   Women         Men   Women         Men   Women         Men
0       2,078.0 1,969.0     1,702.0 1,738.0     2,035.0 2,042.0     2,030.0
1       1,714.0 1,584.0     1,715.0 1,999.0     2,782.0 3,048.0     2,840.0
2       1,062.0 1,092.0     1,451.0 1,829.0     3,043.0 3,484.0     3,582.0
3       1,543.0 1,680.0     2,008.0 2,276.0     2,850.0 2,878.0     2,112.0
4       1,841.0 1,668.0     1,600.0 1,623.0     2,032.0 2,105.0     1,774.0
..          ...     ...         ...     ...         ...     ...         ...
465     1,931.0 2,154.0     1,649.0 1,727.0     1,492.0 1,336.0       976.0
466     1,813.0 2,002.0     1,913.0 1,855.0     1,419.0 1,312.0     1,090.0
467     1,071.0 1,223.0     1,402.0 1,479.0     1,203.0 1,103.0       930.0
468     2,078.0 2,340.0     2,194.0 1,964.0     1,628.0 1,346.0       951.0
469     1,909.0 2,196.0     2,236.0 2,319.0     2,257.0 2,096.0     1,546.0

                                                                     \

            70-79 years         80-89 years       >= 90 years
      Women         Men   Women         Men Women         Men Women
0   1,838.0     1,077.0   793.0       276.0 153.0        13.0   1.0
1   2,531.0     1,398.0   968.0       267.0 116.0        10.0   2.0
2   3,137.0     1,477.0 1,016.0       288.0 151.0        13.0   3.0
3   1,723.0       873.0   608.0       150.0  79.0         5.0   1.0
4   1,458.0       853.0   575.0       185.0  80.0        11.0   2.0
..      ...         ...     ...         ...   ...         ...   ...
465   804.0       599.0   417.0       161.0  64.0        12.0   6.0
466   990.0       690.0   542.0       195.0 104.0        22.0   9.0
467   875.0       698.0   562.0       181.0 109.0        14.0   8.0
468   829.0       559.0   405.0       123.0  55.0         5.0   6.0
469 1,405.0     1,179.0   993.0       356.0 207.0        28.0  17.0

                                                                    \
    Never married
        0-9 years         10-19 years         20-29 years
              Men   Women         Men   Women         Men    Women
0         3,052.0 2,905.0     3,036.0 2,884.0     3,637.0  2,259.0
1         2,508.0 2,432.0     2,524.0 2,490.0     3,018.0  2,122.0
2         1,796.0 1,772.0     2,409.0 2,326.0     2,138.0  1,451.0
3         2,444.0 2,229.0     3,284.0 2,940.0     2,131.0  1,185.0
4         2,586.0 2,483.0     2,496.0 2,376.0     4,752.0  3,489.0
..            ...     ...         ...     ...         ...      ...
465       4,281.0 4,087.0     2,828.0 2,973.0    10,118.0 12,295.0
466       3,744.0 3,573.0     2,769.0 2,693.0     6,882.0  7,207.0
467       2,329.0 2,146.0     2,105.0 2,010.0     3,783.0  3,958.0
468       4,330.0 4,060.0     2,634.0 2,683.0     8,316.0  9,305.0
469       4,187.0 3,919.0     3,588.0 3,417.0     8,211.0  9,189.0

                                                                             \

    30-39 years         40-49 years         50-59 years         60-69 years
            Men   Women         Men   Women         Men   Women         Men
0         878.0   365.0       442.0   219.0       384.0   290.0       309.0
1         563.0   357.0       285.0   250.0       277.0   322.0       194.0
2         528.0   339.0       308.0   279.0       219.0   465.0       142.0
3         356.0   239.0       184.0   146.0       117.0   231.0        92.0
4       1,177.0   644.0       562.0   369.0       492.0   556.0       432.0
..          ...     ...         ...     ...         ...     ...         ...
465     6,601.0 6,517.0     2,320.0 1,865.0     1,316.0 1,051.0       714.0
466     3,677.0 3,071.0     1,660.0 1,328.0       995.0   795.0       462.0
467     2,112.0 1,949.0     1,067.0   888.0       718.0   614.0       384.0
468     5,754.0 5,287.0     2,894.0 2,275.0     1,594.0 1,049.0       649.0
469     4,817.0 4,421.0     2,147.0 2,072.0     1,481.0 1,464.0       812.0

                                                                           \
                                                                  Widowed
          70-79 years       80-89 years       >= 90 years       0-9 years
    Women         Men Women         Men Women         Men Women       Men
0   441.0       188.0 432.0        45.0 283.0         5.0  40.0       0.0
1   466.0        94.0 394.0        15.0 118.0         0.0   5.0       0.0
2   655.0        61.0 550.0        29.0 174.0         1.0  16.0       0.0
3   306.0        50.0 239.0        17.0 113.0         0.0  10.0       0.0
4   771.0       192.0 760.0        45.0 302.0         2.0  29.0       0.0
..    ...         ...   ...         ...   ...         ...   ...       ...
465 598.0       293.0 223.0        47.0  70.0         4.0  22.0       0.0
466 407.0       182.0 180.0        41.0  49.0         3.0  15.0       0.0
467 353.0       167.0 169.0        21.0  47.0         0.0  13.0       0.0
468 475.0       234.0 190.0        44.0  43.0         3.0   5.0       0.0
469 821.0       331.0 428.0        61.0 108.0         3.0  37.0       0.0

                                                                             \

          10-19 years       20-29 years       30-39 years       40-49 years
    Women         Men Women         Men Women         Men Women         Men
0     0.0         0.0   0.0         3.0   9.0        16.0  38.0        33.0
1     0.0         0.0   0.0         4.0   6.0         9.0  34.0        39.0
2     0.0         0.0   0.0         1.0  10.0         7.0  31.0        27.0
3     0.0         0.0   0.0         1.0   6.0         3.0  17.0        23.0
4     0.0         0.0   0.0         2.0   4.0        10.0  30.0        30.0
..    ...         ...   ...         ...   ...         ...   ...         ...
465   0.0         0.0   0.0         0.0   1.0         4.0   8.0        11.0
466   0.0         0.0   0.0         0.0   0.0         1.0   9.0        16.0
467   0.0         0.0   0.0         0.0   1.0         1.0   3.0         7.0
468   0.0         0.0   0.0         0.0   0.0         1.0   5.0        15.0
469   0.0         0.0   0.0         1.0   0.0         1.0  10.0         5.0

                                                                     \

          50-59 years       60-69 years         70-79 years
    Women         Men Women         Men   Women         Men   Women
0   106.0        84.0 391.0       215.0 1,025.0       292.0 1,409.0
1   117.0       143.0 563.0       275.0 1,407.0       365.0 1,617.0
2   134.0       126.0 634.0       366.0 1,684.0       368.0 1,820.0
3   134.0        97.0 390.0       236.0   823.0       255.0   939.0
4    96.0        87.0 401.0       219.0   909.0       261.0 1,129.0
..    ...         ...   ...         ...     ...         ...     ...
465  30.0        23.0 106.0        54.0   200.0        91.0   325.0
466  20.0        19.0  93.0        59.0   213.0       124.0   366.0
467  18.0        14.0  58.0        45.0   120.0        85.0   280.0
468  28.0        25.0  72.0        68.0   177.0        78.0   267.0
469  25.0        33.0 104.0        78.0   239.0       154.0   513.0



    80-89 years       >= 90 years
            Men Women         Men Women
0         204.0 860.0        37.0 116.0
1         184.0 634.0        21.0  34.0
2         203.0 715.0        30.0  83.0
3         129.0 538.0        17.0  53.0
4         116.0 566.0        13.0  73.0
..          ...   ...         ...   ...
465        75.0 267.0        16.0 125.0
466        81.0 414.0        33.0 189.0
467        68.0 286.0        21.0 145.0
468        34.0 184.0        16.0  57.0
469       117.0 491.0        32.0 199.0

[470 rows x 82 columns]

## Express the number of people as fractions of the district-total

To make it easier to compare the districts, we will express the number of people in each category as a fraction of the total number of people in a given district and year:

In [37]:
# Initialize the processing stage.
df_temp_marital_status_3 = df_temp_marital_status_2.copy()

# Calculate the total number of people
df_temp_marital_status_3['Total number of people'] = (
    df_temp_marital_status_3
    .loc[:, ['Number of people']]
    .sum(axis=1)
)

# Calculate percentages.
df_temp_marital_status_3['Number of people'] = (
    df_temp_marital_status_3['Number of people']
    .div(df_temp_marital_status_3['Total number of people'], axis='index')
    .mul(100, axis='index')
)

# Change the name from "number of people" to ""% of people"
df_temp_marital_status_3.columns = (
    df_temp_marital_status_3.columns.set_levels(
        (
            df_temp_marital_status_3
            .columns
            .levels[0]
            .str
            .replace('Number of people', r'% of people')
            .str
            .replace('Total number of people', r'Number of people')
        ),
        level=0
    )
)

# Show the resulting dataframe.
display(df_temp_marital_status_3)

     Year                   District % of people                          \
                                        Divorced
                                       0-9 years       10-19 years
                                             Men Women         Men Women
0    1974                Amager Vest         0.0   0.0         0.0   0.0
1    1974                 Amager Øst         0.0   0.0         0.0   0.0
2    1974                 Bispebjerg         0.0   0.0         0.0   0.0
3    1974             Brønshøj-Husum         0.0   0.0         0.0   0.0
4    1974                   Indre By         0.0   0.0         0.0   0.0
..    ...                        ...         ...   ...         ...   ...
465  2020                   Nørrebro         0.0   0.0         0.0   0.0
466  2020                      Valby         0.0   0.0         0.0   0.0
467  2020                    Vanløse         0.0   0.0         0.0   0.0
468  2020  Vesterbro/Kongens Enghave         0.0   0.0         0.0   0.0
469  2020                   Østerbro         0.0   0.0         0.0   0.0

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           0.5   0.6         1.0   0.9         1.0   0.8         0.9   1.0
1           0.4   0.6         0.7   0.7         0.7   1.0         0.8   1.3
2           0.3   0.4         0.7   0.6         0.7   1.0         0.9   1.9
3           0.3   0.5         0.6   0.8         0.5   1.0         0.5   1.1
4           0.7   0.8         1.2   0.9         1.1   1.0         1.2   1.3
..          ...   ...         ...   ...         ...   ...         ...   ...
465         0.0   0.1         0.3   0.4         0.7   1.0         0.9   1.1
466         0.0   0.1         0.3   0.5         0.9   1.1         1.1   1.3
467         0.0   0.1         0.2   0.4         0.7   1.0         1.1   1.4
468         0.0   0.0         0.3   0.5         0.9   1.1         1.2   1.2
469         0.0   0.0         0.2   0.4         0.7   1.1         1.1   1.6

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0           0.7   0.8         0.2   0.6         0.1   0.2         0.0   0.0
1           0.7   1.3         0.3   0.6         0.0   0.2         0.0   0.0
2           0.8   1.8         0.2   0.8         0.1   0.2         0.0   0.0
3           0.5   0.9         0.2   0.5         0.0   0.2         0.0   0.0
4           0.9   1.2         0.4   0.7         0.1   0.2         0.0   0.0
..          ...   ...         ...   ...         ...   ...         ...   ...
465         0.6   0.8         0.4   0.7         0.1   0.2         0.0   0.0
466         0.8   1.0         0.5   0.8         0.1   0.3         0.0   0.1
467         0.8   1.2         0.6   1.0         0.1   0.4         0.0   0.1
468         0.7   0.8         0.5   0.6         0.1   0.2         0.0   0.0
469         0.7   1.1         0.6   1.2         0.1   0.4         0.0   0.1

                                                                               \
    Married / seperated
              0-9 years       10-19 years       20-29 years       30-39 years
                    Men Women         Men Women         Men Women         Men
0                   0.0   0.0         0.0   0.1         3.5   4.3         3.8
1                   0.0   0.0         0.0   0.1         3.3   4.2         3.2
2                   0.0   0.0         0.0   0.1         2.1   2.6         2.1
3                   0.0   0.0         0.0   0.0         2.4   3.2         3.4
4                   0.0   0.0         0.0   0.1         3.1   3.9         3.4
..                  ...   ...         ...   ...         ...   ...         ...
465                 0.0   0.0         0.0   0.0         0.4   0.7         2.4
466                 0.0   0.0         0.0   0.0         0.7   1.1         2.9
467                 0.0   0.0         0.0   0.0         0.6   0.8         2.6
468                 0.0   0.0         0.0   0.0         0.4   0.7         2.8
469                 0.0   0.0         0.0   0.0         0.3   0.6         2.4

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
0     3.6         3.2   3.2         3.8   3.8         3.8   3.4         2.0
1     2.9         3.2   3.7         5.1   5.6         5.3   4.7         2.6
2     2.1         2.8   3.6         5.9   6.8         7.0   6.1         2.9
3     3.8         4.5   5.1         6.4   6.4         4.7   3.8         2.0
4     3.1         2.9   3.0         3.7   3.9         3.3   2.7         1.6
..    ...         ...   ...         ...   ...         ...   ...         ...
465   2.7         2.1   2.2         1.9   1.7         1.2   1.0         0.8
466   3.2         3.1   3.0         2.3   2.1         1.8   1.6         1.1
467   3.0         3.4   3.6         2.9   2.7         2.3   2.1         1.7
468   3.2         3.0   2.6         2.2   1.8         1.3   1.1         0.8
469   2.7         2.8   2.9         2.8   2.6         1.9   1.7         1.5

                                                                               \
                                              Never married
          80-89 years       >= 90 years           0-9 years       10-19 years
    Women         Men Women         Men Women           Men Women         Men
0     1.5         0.5   0.3         0.0   0.0           5.6   5.4         5.6
1     1.8         0.5   0.2         0.0   0.0           4.6   4.5         4.7
2     2.0         0.6   0.3         0.0   0.0           3.5   3.5         4.7
3     1.4         0.3   0.2         0.0   0.0           5.5   5.0         7.3
4     1.1         0.3   0.1         0.0   0.0           4.7   4.6         4.6
..    ...         ...   ...         ...   ...           ...   ...         ...
465   0.5         0.2   0.1         0.0   0.0           5.4   5.1         3.6
466   0.9         0.3   0.2         0.0   0.0           6.0   5.8         4.5
467   1.4         0.4   0.3         0.0   0.0           5.7   5.2         5.1
468   0.5         0.2   0.1         0.0   0.0           5.8   5.5         3.6
469   1.2         0.4   0.3         0.0   0.0           5.2   4.9         4.5

                                                                             \

          20-29 years       30-39 years       40-49 years       50-59 years
    Women         Men Women         Men Women         Men Women         Men
0     5.3         6.7   4.2         1.6   0.7         0.8   0.4         0.7
1     4.6         5.6   3.9         1.0   0.7         0.5   0.5         0.5
2     4.5         4.2   2.8         1.0   0.7         0.6   0.5         0.4
3     6.6         4.8   2.6         0.8   0.5         0.4   0.3         0.3
4     4.4         8.7   6.4         2.2   1.2         1.0   0.7         0.9
..    ...         ...   ...         ...   ...         ...   ...         ...
465   3.7        12.7  15.4         8.3   8.2         2.9   2.3         1.7
466   4.4        11.1  11.6         5.9   5.0         2.7   2.1         1.6
467   4.9         9.2   9.6         5.1   4.7         2.6   2.2         1.7
468   3.6        11.2  12.5         7.8   7.1         3.9   3.1         2.1
469   4.3        10.2  11.4         6.0   5.5         2.7   2.6         1.8

                                                                             \

          60-69 years       70-79 years       80-89 years       >= 90 years
    Women         Men Women         Men Women         Men Women         Men
0     0.5         0.6   0.8         0.3   0.8         0.1   0.5         0.0
1     0.6         0.4   0.9         0.2   0.7         0.0   0.2         0.0
2     0.9         0.3   1.3         0.1   1.1         0.1   0.3         0.0
3     0.5         0.2   0.7         0.1   0.5         0.0   0.3         0.0
4     1.0         0.8   1.4         0.4   1.4         0.1   0.6         0.0
..    ...         ...   ...         ...   ...         ...   ...         ...
465   1.3         0.9   0.8         0.4   0.3         0.1   0.1         0.0
466   1.3         0.7   0.7         0.3   0.3         0.1   0.1         0.0
467   1.5         0.9   0.9         0.4   0.4         0.1   0.1         0.0
468   1.4         0.9   0.6         0.3   0.3         0.1   0.1         0.0
469   1.8         1.0   1.0         0.4   0.5         0.1   0.1         0.0

                                                                           \
            Widowed
          0-9 years       10-19 years       20-29 years       30-39 years
    Women       Men Women         Men Women         Men Women         Men
0     0.1       0.0   0.0         0.0   0.0         0.0   0.0         0.0
1     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
2     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
3     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
4     0.1       0.0   0.0         0.0   0.0         0.0   0.0         0.0
..    ...       ...   ...         ...   ...         ...   ...         ...
465   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
466   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
467   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
468   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
469   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.2         0.2   0.7         0.4   1.9         0.5
1     0.1         0.1   0.2         0.3   1.0         0.5   2.6         0.7
2     0.1         0.1   0.3         0.2   1.2         0.7   3.3         0.7
3     0.0         0.1   0.3         0.2   0.9         0.5   1.8         0.6
4     0.1         0.1   0.2         0.2   0.7         0.4   1.7         0.5
..    ...         ...   ...         ...   ...         ...   ...         ...
465   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.1
466   0.0         0.0   0.0         0.0   0.2         0.1   0.3         0.2
467   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.2
468   0.0         0.0   0.0         0.0   0.1         0.1   0.2         0.1
469   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.2

                                              Number of people

          80-89 years       >= 90 years
    Women         Men Women         Men Women
0     2.6         0.4   1.6         0.1   0.2         54,020.0
1     3.0         0.3   1.2         0.0   0.1         54,027.0
2     3.5         0.4   1.4         0.1   0.2         51,310.0
3     2.1         0.3   1.2         0.0   0.1         44,754.0
4     2.1         0.2   1.0         0.0   0.1         54,546.0
..    ...         ...   ...         ...   ...              ...
465   0.4         0.1   0.3         0.0   0.2         79,601.0
466   0.6         0.1   0.7         0.1   0.3         61,895.0
467   0.7         0.2   0.7         0.1   0.4         41,158.0
468   0.4         0.0   0.2         0.0   0.1         74,175.0
469   0.6         0.1   0.6         0.0   0.2         80,367.0

[470 rows x 83 columns]

## Check that the total number of people looks right

The number of people in Copenhagen in 2019 before the transformation of the dataset has been calculated to ***629,513***. Let's see if our numbers add up:

In [38]:
# Sum all the number of people in 2019.
sum_2019 = (
    df_temp_marital_status_3
    .loc[df_temp_marital_status_3['Year'] == 2019,
         'Number of people']
    .to_numpy()
    .sum()
)

# Display the result.
printmd(f'The sum of people in Copenhagen in 2019 '
        f'has been calculated to ***{sum_2019:,.0f}.***')

The sum of people in Copenhagen in 2019 has been calculated to ***629,513.***

Everything seems ok.

## Remove the column `Number of people`

We already know the total number of people in each district from the ***Citizenship*** dataset, so we can remove the column `Number of people` and avoid redundancy:

In [39]:
# Remove the column "Number of people".
cph_data_superset.marital_status = (
    df_temp_marital_status_3
    .drop(['Number of people'],
          axis=1)
)

# Show the results.
display(cph_data_superset.marital_status)

     Year                   District % of people                          \
                                        Divorced
                                       0-9 years       10-19 years
                                             Men Women         Men Women
0    1974                Amager Vest         0.0   0.0         0.0   0.0
1    1974                 Amager Øst         0.0   0.0         0.0   0.0
2    1974                 Bispebjerg         0.0   0.0         0.0   0.0
3    1974             Brønshøj-Husum         0.0   0.0         0.0   0.0
4    1974                   Indre By         0.0   0.0         0.0   0.0
..    ...                        ...         ...   ...         ...   ...
465  2020                   Nørrebro         0.0   0.0         0.0   0.0
466  2020                      Valby         0.0   0.0         0.0   0.0
467  2020                    Vanløse         0.0   0.0         0.0   0.0
468  2020  Vesterbro/Kongens Enghave         0.0   0.0         0.0   0.0
469  2020                   Østerbro         0.0   0.0         0.0   0.0

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           0.5   0.6         1.0   0.9         1.0   0.8         0.9   1.0
1           0.4   0.6         0.7   0.7         0.7   1.0         0.8   1.3
2           0.3   0.4         0.7   0.6         0.7   1.0         0.9   1.9
3           0.3   0.5         0.6   0.8         0.5   1.0         0.5   1.1
4           0.7   0.8         1.2   0.9         1.1   1.0         1.2   1.3
..          ...   ...         ...   ...         ...   ...         ...   ...
465         0.0   0.1         0.3   0.4         0.7   1.0         0.9   1.1
466         0.0   0.1         0.3   0.5         0.9   1.1         1.1   1.3
467         0.0   0.1         0.2   0.4         0.7   1.0         1.1   1.4
468         0.0   0.0         0.3   0.5         0.9   1.1         1.2   1.2
469         0.0   0.0         0.2   0.4         0.7   1.1         1.1   1.6

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0           0.7   0.8         0.2   0.6         0.1   0.2         0.0   0.0
1           0.7   1.3         0.3   0.6         0.0   0.2         0.0   0.0
2           0.8   1.8         0.2   0.8         0.1   0.2         0.0   0.0
3           0.5   0.9         0.2   0.5         0.0   0.2         0.0   0.0
4           0.9   1.2         0.4   0.7         0.1   0.2         0.0   0.0
..          ...   ...         ...   ...         ...   ...         ...   ...
465         0.6   0.8         0.4   0.7         0.1   0.2         0.0   0.0
466         0.8   1.0         0.5   0.8         0.1   0.3         0.0   0.1
467         0.8   1.2         0.6   1.0         0.1   0.4         0.0   0.1
468         0.7   0.8         0.5   0.6         0.1   0.2         0.0   0.0
469         0.7   1.1         0.6   1.2         0.1   0.4         0.0   0.1

                                                                               \
    Married / seperated
              0-9 years       10-19 years       20-29 years       30-39 years
                    Men Women         Men Women         Men Women         Men
0                   0.0   0.0         0.0   0.1         3.5   4.3         3.8
1                   0.0   0.0         0.0   0.1         3.3   4.2         3.2
2                   0.0   0.0         0.0   0.1         2.1   2.6         2.1
3                   0.0   0.0         0.0   0.0         2.4   3.2         3.4
4                   0.0   0.0         0.0   0.1         3.1   3.9         3.4
..                  ...   ...         ...   ...         ...   ...         ...
465                 0.0   0.0         0.0   0.0         0.4   0.7         2.4
466                 0.0   0.0         0.0   0.0         0.7   1.1         2.9
467                 0.0   0.0         0.0   0.0         0.6   0.8         2.6
468                 0.0   0.0         0.0   0.0         0.4   0.7         2.8
469                 0.0   0.0         0.0   0.0         0.3   0.6         2.4

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
0     3.6         3.2   3.2         3.8   3.8         3.8   3.4         2.0
1     2.9         3.2   3.7         5.1   5.6         5.3   4.7         2.6
2     2.1         2.8   3.6         5.9   6.8         7.0   6.1         2.9
3     3.8         4.5   5.1         6.4   6.4         4.7   3.8         2.0
4     3.1         2.9   3.0         3.7   3.9         3.3   2.7         1.6
..    ...         ...   ...         ...   ...         ...   ...         ...
465   2.7         2.1   2.2         1.9   1.7         1.2   1.0         0.8
466   3.2         3.1   3.0         2.3   2.1         1.8   1.6         1.1
467   3.0         3.4   3.6         2.9   2.7         2.3   2.1         1.7
468   3.2         3.0   2.6         2.2   1.8         1.3   1.1         0.8
469   2.7         2.8   2.9         2.8   2.6         1.9   1.7         1.5

                                                                               \
                                              Never married
          80-89 years       >= 90 years           0-9 years       10-19 years
    Women         Men Women         Men Women           Men Women         Men
0     1.5         0.5   0.3         0.0   0.0           5.6   5.4         5.6
1     1.8         0.5   0.2         0.0   0.0           4.6   4.5         4.7
2     2.0         0.6   0.3         0.0   0.0           3.5   3.5         4.7
3     1.4         0.3   0.2         0.0   0.0           5.5   5.0         7.3
4     1.1         0.3   0.1         0.0   0.0           4.7   4.6         4.6
..    ...         ...   ...         ...   ...           ...   ...         ...
465   0.5         0.2   0.1         0.0   0.0           5.4   5.1         3.6
466   0.9         0.3   0.2         0.0   0.0           6.0   5.8         4.5
467   1.4         0.4   0.3         0.0   0.0           5.7   5.2         5.1
468   0.5         0.2   0.1         0.0   0.0           5.8   5.5         3.6
469   1.2         0.4   0.3         0.0   0.0           5.2   4.9         4.5

                                                                             \

          20-29 years       30-39 years       40-49 years       50-59 years
    Women         Men Women         Men Women         Men Women         Men
0     5.3         6.7   4.2         1.6   0.7         0.8   0.4         0.7
1     4.6         5.6   3.9         1.0   0.7         0.5   0.5         0.5
2     4.5         4.2   2.8         1.0   0.7         0.6   0.5         0.4
3     6.6         4.8   2.6         0.8   0.5         0.4   0.3         0.3
4     4.4         8.7   6.4         2.2   1.2         1.0   0.7         0.9
..    ...         ...   ...         ...   ...         ...   ...         ...
465   3.7        12.7  15.4         8.3   8.2         2.9   2.3         1.7
466   4.4        11.1  11.6         5.9   5.0         2.7   2.1         1.6
467   4.9         9.2   9.6         5.1   4.7         2.6   2.2         1.7
468   3.6        11.2  12.5         7.8   7.1         3.9   3.1         2.1
469   4.3        10.2  11.4         6.0   5.5         2.7   2.6         1.8

                                                                             \

          60-69 years       70-79 years       80-89 years       >= 90 years
    Women         Men Women         Men Women         Men Women         Men
0     0.5         0.6   0.8         0.3   0.8         0.1   0.5         0.0
1     0.6         0.4   0.9         0.2   0.7         0.0   0.2         0.0
2     0.9         0.3   1.3         0.1   1.1         0.1   0.3         0.0
3     0.5         0.2   0.7         0.1   0.5         0.0   0.3         0.0
4     1.0         0.8   1.4         0.4   1.4         0.1   0.6         0.0
..    ...         ...   ...         ...   ...         ...   ...         ...
465   1.3         0.9   0.8         0.4   0.3         0.1   0.1         0.0
466   1.3         0.7   0.7         0.3   0.3         0.1   0.1         0.0
467   1.5         0.9   0.9         0.4   0.4         0.1   0.1         0.0
468   1.4         0.9   0.6         0.3   0.3         0.1   0.1         0.0
469   1.8         1.0   1.0         0.4   0.5         0.1   0.1         0.0

                                                                           \
            Widowed
          0-9 years       10-19 years       20-29 years       30-39 years
    Women       Men Women         Men Women         Men Women         Men
0     0.1       0.0   0.0         0.0   0.0         0.0   0.0         0.0
1     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
2     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
3     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
4     0.1       0.0   0.0         0.0   0.0         0.0   0.0         0.0
..    ...       ...   ...         ...   ...         ...   ...         ...
465   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
466   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
467   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
468   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
469   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.2         0.2   0.7         0.4   1.9         0.5
1     0.1         0.1   0.2         0.3   1.0         0.5   2.6         0.7
2     0.1         0.1   0.3         0.2   1.2         0.7   3.3         0.7
3     0.0         0.1   0.3         0.2   0.9         0.5   1.8         0.6
4     0.1         0.1   0.2         0.2   0.7         0.4   1.7         0.5
..    ...         ...   ...         ...   ...         ...   ...         ...
465   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.1
466   0.0         0.0   0.0         0.0   0.2         0.1   0.3         0.2
467   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.2
468   0.0         0.0   0.0         0.0   0.1         0.1   0.2         0.1
469   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.2



          80-89 years       >= 90 years
    Women         Men Women         Men Women
0     2.6         0.4   1.6         0.1   0.2
1     3.0         0.3   1.2         0.0   0.1
2     3.5         0.4   1.4         0.1   0.2
3     2.1         0.3   1.2         0.0   0.1
4     2.1         0.2   1.0         0.0   0.1
..    ...         ...   ...         ...   ...
465   0.4         0.1   0.3         0.0   0.2
466   0.6         0.1   0.7         0.1   0.3
467   0.7         0.2   0.7         0.1   0.4
468   0.4         0.0   0.2         0.0   0.1
469   0.6         0.1   0.6         0.0   0.2

[470 rows x 82 columns]

# Prepare dataset for inclusion in the superset: ***Population Movement***

<p style="border:2px solid black"> </p>

## Display the dataset

Let's take a closer look on the data:

In [40]:
display(cph_data_superset.population_movement)

,Year,District,Deaths,Emigrated,Immigrated,Internal migration,Internal migration from other districts,Internal migration to to other districts,Internal migratrion from danish municipalities,Internal migratrion to danish municipalities,Live births,Natural increase,Netmigration,Netmigration Copenhagen,Netmigration Denmark
2173,1975,Amager Vest,"1,041.0","1,451.0",564.0,"3,454.0","6,344.0","4,817.0","2,736.0","3,974.0",559.0,-482.0,-887.0,"1,527.0","-1,238.0"
2174,1976,Amager Vest,"1,063.0","1,295.0",720.0,"2,935.0","6,162.0","4,942.0","2,979.0","4,211.0",433.0,-630.0,-575.0,"1,220.0","-1,232.0"
2175,1977,Amager Vest,965.0,"1,689.0",815.0,"3,775.0","6,626.0","4,828.0","2,676.0","3,926.0",444.0,-521.0,-874.0,"1,798.0","-1,250.0"
2176,1978,Amager Vest,984.0,"1,357.0",870.0,"2,865.0","5,656.0","4,561.0","2,695.0","3,495.0",460.0,-524.0,-487.0,"1,095.0",-800.0
2177,1980,Amager Vest,"1,001.0","1,297.0",655.0,"2,888.0","5,757.0","4,355.0","2,869.0","3,007.0",414.0,-587.0,-642.0,"1,402.0",-138.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2578,2016,Østerbro,461.0,"1,877.0","2,905.0","3,788.0","5,533.0","5,835.0","5,576.0","5,467.0","1,267.0",806.0,"1,028.0",-302.0,109.0
2579,2017,Østerbro,475.0,"2,006.0","3,000.0","3,855.0","5,642.0","5,918.0","5,818.0","5,904.0","1,244.0",769.0,994.0,-276.0,-86.0
2580,2018,Østerbro,463.0,"2,235.0","3,017.0","3,709.0","5,310.0","5,963.0","4,930.0","5,726.0","1,251.0",788.0,782.0,-653.0,-796.0
2581,2019,Østerbro,443.0,"2,277.0","3,018.0","3,813.0","5,493.0","6,120.0","5,255.0","5,699.0","1,303.0",860.0,741.0,-627.0,-444.0
2582,2020,Østerbro,437.0,"1,708.0","2,423.0","4,000.0","5,784.0","6,180.0","5,574.0","6,309.0","1,268.0",831.0,715.0,-396.0,-735.0

## Express the number of people as fractions of the district-total:

To make it easier to compare the districts, we will express the number of people in each category as a fraction of the total number of people in a given district and year:

In [41]:
# Initialize the processing stage.
df_temp_population_movement_1 = cph_data_superset.population_movement.copy()

# Get the Number of people from the Citizenship dataset
columns = ['Year', 'District', 'Number of people']
df_n_people_citizenship = cph_data_superset.citizenship[columns]
df_n_people_citizenship.columns = df_n_people_citizenship.columns.droplevel([1, 2, 3])

df_temp_population_movement_1 = (
    df_temp_population_movement_1
    .merge(df_n_people_citizenship,
           on=['Year', 'District'],
           how='inner')
)

# Set the name again, as merge deletes it.
df_temp_population_movement_1.attrs['name'] = 'Population movement'

# Get the columns to express as fractions
columns_to_express_as_fractions = get_df_columns(
    df_temp_population_movement_1,
    exclude=['Year', 'District', 'Number of people']
)

# Calculate percentages.
df_temp_population_movement_1[columns_to_express_as_fractions] = (
    df_temp_population_movement_1[columns_to_express_as_fractions]
    .div(df_temp_population_movement_1['Number of people'], axis='index')
    .mul(100, axis='index')
)

# Drop the column "Number of people".
df_temp_population_movement_1 = (
    df_temp_population_movement_1
    .drop(['Number of people'],
          axis=1)
)

# Adjust the column names.
df_temp_population_movement_1.columns = pd.MultiIndex.from_tuples(
    [(column, ) + ('', )
     if column not in columns_to_express_as_fractions
     else
     (r'% of people', ) + (column, )
     for column in list(df_temp_population_movement_1.columns)]
)

# Assign the dataframe to the superset object.
cph_data_superset.population_movement = df_temp_population_movement_1

# Show the resulting dataframe.
display(cph_data_superset.population_movement)

     Year     District % of people                                          \
                            Deaths Emigrated Immigrated Internal migration
0    1980  Amager Vest         2.1       2.7        1.4                6.0
1    1981  Amager Vest         2.2       2.2        1.1                6.0
2    1982  Amager Vest         1.9       2.1        1.0                5.8
3    1987  Amager Vest         1.8       2.0        1.0                6.5
4    1988  Amager Vest         1.9       2.2        1.0                6.6
..    ...          ...         ...       ...        ...                ...
365  2016     Østerbro         0.6       2.4        3.7                4.9
366  2017     Østerbro         0.6       2.5        3.8                4.9
367  2018     Østerbro         0.6       2.8        3.8                4.7
368  2019     Østerbro         0.6       2.8        3.8                4.8
369  2020     Østerbro         0.5       2.1        3.0                5.0

                                             \
    Internal migration from other districts
0                                      12.0
1                                      11.5
2                                      12.0
3                                      13.2
4                                      14.3
..                                      ...
365                                     7.1
366                                     7.1
367                                     6.7
368                                     6.9
369                                     7.2

                                              \
    Internal migration to to other districts
0                                        9.1
1                                        8.8
2                                        8.9
3                                       10.6
4                                       11.4
..                                       ...
365                                      7.5
366                                      7.5
367                                      7.5
368                                      7.7
369                                      7.7

                                                    \
    Internal migratrion from danish municipalities
0                                              6.0
1                                              5.8
2                                              5.9
3                                              6.4
4                                              6.3
..                                             ...
365                                            7.2
366                                            7.3
367                                            6.2
368                                            6.6
369                                            6.9

                                                                               \
    Internal migratrion to danish municipalities Live births Natural increase
0                                            6.3         0.9             -1.2
1                                            5.9         0.7             -1.5
2                                            6.0         0.9             -1.1
3                                            8.1         1.0             -0.9
4                                            7.0         1.0             -0.9
..                                           ...         ...              ...
365                                          7.0         1.6              1.0
366                                          7.4         1.6              1.0
367                                          7.2         1.6              1.0
368                                          7.1         1.6              1.1
369                                          7.9         1.6              1.0


    Netmigration Netmigration Copenhagen Netmigration Denmark
0           -1.3                     2.9                 -0.3
1           -1.2                     2.7                 -0.0
2           -1.2                     3.2                 -0.1
3           -1.0                     2.6                 -1.7
4           -1.1                     2.9                 -0.7
..           ...                     ...                  ...
365          1.3                    -0.4                  0.1
366          1.3                    -0.3                 -0.1
367          1.0                    -0.8                 -1.0
368          0.9                    -0.8                 -0.6
369          0.9                    -0.5                 -0.9

[370 rows x 15 columns]

# Make sure all the tables have the same number of levels in the column index

<p style="border:2px solid black"> </p>

We are now almost ready to merge the dataframes, but before we do so, we need to ensure that all the Pandas column multiindices have the same number of levels:

In [42]:
# Get the maximal number of levels present in the column index of
# any of the dataframes in the superset.
max_n_levels = max([df.columns.nlevels
                    for df in cph_data_superset.get_all_dataframes()])

# Add empty index layers to columns with less than max levels.
for attribute_name, df in get_obj_attributes(cph_data_superset).items():
    if df.columns.nlevels < max_n_levels:
        df.columns = pd.MultiIndex.from_tuples(
            [idx + ('', ) * (max_n_levels - df.columns.nlevels)
             if isinstance(idx, tuple)
             else (idx, ) + ('', ) * (max_n_levels - df.columns.nlevels)
             for idx in list(df.columns)]
        )

    # Save the dataframe in the object: cph_data_superset.
    setattr(cph_data_superset, attribute_name, df)
    
# Show the processed dataframes.
cph_data_superset.display_dataframes()

**Citizenship**:

     Year                   District % of people                          \
                                         Denmark
                                       0-9 years       10-19 years
                                             Men Women         Men Women
0    1980                Amager Vest         4.1   3.9         5.6   5.4
1    1980                 Amager Øst         3.4   3.4         4.1   4.4
2    1980                 Bispebjerg         2.6   2.4         3.4   3.6
3    1980             Brønshøj-Husum         4.5   4.0         6.1   5.5
4    1980                   Indre By         3.5   3.4         4.1   4.3
..    ...                        ...         ...   ...         ...   ...
405  2020                   Nørrebro         5.0   4.8         3.2   3.4
406  2020                      Valby         5.2   5.0         4.0   3.9
407  2020                    Vanløse         5.2   4.8         4.8   4.6
408  2020  Vesterbro/Kongens Enghave         5.2   4.8         3.2   3.3
409  2020                   Østerbro         4.7   4.3         4.2   3.9

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           8.7   7.7         6.7   5.8         4.7   4.4         5.1   5.4
1           9.2   8.4         5.7   4.7         4.0   4.1         5.6   6.9
2           5.9   5.7         4.6   3.7         3.6   4.0         5.9   8.0
3           5.8   5.4         5.7   5.8         4.5   5.3         6.8   8.5
4          10.1   9.5         8.1   7.0         4.6   4.3         5.0   5.4
..          ...   ...         ...   ...         ...   ...         ...   ...
405        11.2  13.7         8.8   9.1         4.6   4.4         3.6   3.5
406         9.8  10.5         6.5   6.4         5.4   5.2         4.2   4.2
407         8.5   8.9         6.1   6.4         5.8   5.9         5.1   5.3
408         9.3  10.6         7.9   7.9         6.4   5.7         4.7   4.0
409         8.9   9.9         6.4   6.2         5.1   5.4         5.1   5.6

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0           5.2   6.8         3.5   6.4         1.2   3.3         0.2   0.6
1           6.7   9.1         4.2   7.7         1.2   2.6         0.1   0.1
2           8.3  13.2         5.8  10.4         1.4   3.6         0.1   0.4
3           6.8   8.8         3.9   6.4         1.1   2.8         0.1   0.4
4           4.8   6.3         2.8   5.5         0.8   2.4         0.1   0.3
..          ...   ...         ...   ...         ...   ...         ...   ...
405         2.4   2.4         1.5   1.6         0.4   0.6         0.0   0.2
406         3.0   3.2         2.0   2.4         0.6   1.1         0.1   0.4
407         3.8   4.2         2.7   3.3         0.8   1.4         0.1   0.4
408         2.5   2.4         1.5   1.5         0.3   0.5         0.0   0.1
409         3.4   3.9         2.5   3.4         0.8   1.3         0.1   0.4

                                                                     \
    Non-western countries
                0-9 years       10-19 years       20-29 years
                      Men Women         Men Women         Men Women
0                     0.2   0.2         0.1   0.1         0.4   0.3
1                     0.4   0.3         0.2   0.2         0.3   0.3
2                     0.4   0.4         0.2   0.1         0.2   0.2
3                     0.1   0.1         0.0   0.0         0.1   0.1
4                     0.2   0.2         0.1   0.1         0.3   0.2
..                    ...   ...         ...   ...         ...   ...
405                   0.2   0.2         0.3   0.2         0.5   0.5
406                   0.5   0.5         0.3   0.3         0.8   0.9
407                   0.3   0.2         0.2   0.2         0.5   0.6
408                   0.3   0.3         0.2   0.1         0.5   0.6
409                   0.2   0.2         0.1   0.1         0.4   0.6

                                                                             \

    30-39 years       40-49 years       50-59 years       60-69 years
            Men Women         Men Women         Men Women         Men Women
0           0.5   0.2         0.1   0.1         0.0   0.0         0.0   0.0
1           0.4   0.2         0.1   0.1         0.0   0.0         0.0   0.0
2           0.3   0.2         0.2   0.1         0.0   0.0         0.0   0.0
3           0.2   0.1         0.0   0.0         0.0   0.0         0.0   0.0
4           0.4   0.1         0.1   0.1         0.1   0.0         0.0   0.0
..          ...   ...         ...   ...         ...   ...         ...   ...
405         0.7   0.6         0.5   0.6         0.4   0.5         0.2   0.3
406         1.2   1.1         0.6   0.6         0.4   0.5         0.2   0.3
407         0.8   0.8         0.4   0.5         0.3   0.3         0.1   0.1
408         0.9   1.0         0.4   0.5         0.3   0.3         0.2   0.2
409         0.7   0.8         0.3   0.4         0.2   0.2         0.1   0.1

                                                                             \
                                                          Western countries
    70-79 years       80-89 years       >= 90 years               0-9 years
            Men Women         Men Women         Men Women               Men
0           0.0   0.0         0.0   0.0         0.0   0.0               0.1
1           0.0   0.0         0.0   0.0         0.0   0.0               0.1
2           0.0   0.0         0.0   0.0         0.0   0.0               0.1
3           0.0   0.0         0.0   0.0         0.0   0.0               0.1
4           0.0   0.0         0.0   0.0         0.0   0.0               0.2
..          ...   ...         ...   ...         ...   ...               ...
405         0.1   0.2         0.0   0.1         0.0   0.0               0.2
406         0.1   0.1         0.0   0.0         0.0   0.0               0.3
407         0.1   0.1         0.0   0.0         0.0   0.0               0.2
408         0.1   0.1         0.0   0.0         0.0   0.0               0.3
409         0.0   0.0         0.0   0.0         0.0   0.0               0.3

                                                                             \

          10-19 years       20-29 years       30-39 years       40-49 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.1         0.8   0.6         0.5   0.3         0.2
1     0.1         0.1   0.1         0.4   0.4         0.3   0.2         0.1
2     0.1         0.0   0.1         0.2   0.2         0.2   0.1         0.1
3     0.1         0.1   0.1         0.2   0.2         0.2   0.1         0.1
4     0.2         0.2   0.2         1.2   1.0         0.8   0.6         0.4
..    ...         ...   ...         ...   ...         ...   ...         ...
405   0.2         0.1   0.1         1.4   2.0         1.6   1.6         0.6
406   0.3         0.2   0.2         1.3   1.5         1.4   1.2         0.7
407   0.2         0.1   0.1         0.8   1.0         1.0   1.0         0.6
408   0.4         0.2   0.1         1.8   2.1         2.1   1.9         1.0
409   0.4         0.2   0.2         1.2   1.6         1.4   1.5         0.8

                                                                             \

          50-59 years       60-69 years       70-79 years       80-89 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.1         0.0   0.0         0.0   0.0         0.0
1     0.1         0.0   0.1         0.0   0.0         0.0   0.0         0.0
2     0.1         0.1   0.1         0.0   0.0         0.0   0.0         0.0
3     0.1         0.0   0.1         0.0   0.0         0.0   0.0         0.0
4     0.2         0.2   0.1         0.1   0.1         0.0   0.1         0.0
..    ...         ...   ...         ...   ...         ...   ...         ...
405   0.5         0.3   0.2         0.2   0.1         0.1   0.1         0.0
406   0.5         0.4   0.2         0.2   0.1         0.0   0.0         0.0
407   0.4         0.4   0.2         0.1   0.1         0.1   0.0         0.0
408   0.7         0.6   0.3         0.2   0.1         0.1   0.1         0.0
409   0.7         0.5   0.3         0.2   0.2         0.1   0.1         0.0

                            Number of people

          >= 90 years
    Women         Men Women
0     0.0         0.0   0.0         47,828.0
1     0.0         0.0   0.0         48,473.0
2     0.0         0.0   0.0         44,887.0
3     0.0         0.0   0.0         39,683.0
4     0.0         0.0   0.0         45,758.0
..    ...         ...   ...              ...
405   0.0         0.0   0.0         79,601.0
406   0.0         0.0   0.0         61,895.0
407   0.0         0.0   0.0         41,158.0
408   0.0         0.0   0.0         74,175.0
409   0.1         0.0   0.0         80,369.0

[410 rows x 63 columns]

**Dwellings**:

     Year                   District % of total dwellings area  \
                                           Housing cooperative


0    1991                Amager Vest                      17.0
1    1991                 Amager Øst                      23.5
2    1991                 Bispebjerg                      12.6
3    1991             Brønshøj-Husum                       4.4
4    1991                   Indre By                      14.1
..    ...                        ...                       ...
305  2021                   Nørrebro                      43.6
306  2021                      Valby                      23.3
307  2021                    Vanløse                      24.6
308  2021  Vesterbro/Kongens Enghave                      34.7
309  2021                   Østerbro                      35.0

                                                                         \
    Non-profit housing Owner-occupied Private rental Public authorities


0                 20.3           23.6           36.6                2.6
1                 14.3           27.0           30.2                5.0
2                 33.7           13.7           22.3               17.7
3                 35.8           38.0           15.6                6.1
4                  5.2           23.8           50.9                6.0
..                 ...            ...            ...                ...
305               22.1            9.8           22.7                1.8
306               19.5           31.3           25.4                0.5
307               12.1           39.9           23.3                0.2
308               14.6           21.1           28.9                0.7
309                9.7           26.2           28.6                0.5

    Total dwellings area



0            1,794,562.0
1            1,948,001.0
2            1,783,222.0
3            1,507,059.0
4            2,378,640.0
..                   ...
305          3,112,255.0
306          2,528,779.0
307          1,678,766.0
308          3,156,986.0
309          3,778,077.0

[310 rows x 8 columns]

**Family type and children**:

     Year                   District  \



0    1998                Amager Vest
1    1998                 Amager Øst
2    1998                 Bispebjerg
3    1998             Brønshøj-Husum
4    1998                   Indre By
..    ...                        ...
225  2020                   Nørrebro
226  2020                      Valby
227  2020                    Vanløse
228  2020  Vesterbro/Kongens Enghave
229  2020                   Østerbro

                                      % of families                     \
    Children below 18 years not living with parents
                                         0 children 1 child 2 children

0                                               0.3     0.0        0.0
1                                               0.2     0.0        0.0
2                                               0.3     0.0        0.0
3                                               0.4     0.0        0.0
4                                               0.2     0.0        0.0
..                                              ...     ...        ...
225                                             0.1     0.0        0.0
226                                             0.2     0.0        0.0
227                                             0.2     0.0        0.0
228                                             0.1     0.0        0.0
229                                             0.2     0.0        0.0

                                     \

    3 children More than 3 children

0          0.0                  0.0
1          0.0                  0.0
2          0.0                  0.0
3          0.0                  0.0
4          0.0                  0.0
..         ...                  ...
225        0.0                  0.0
226        0.0                  0.0
227        0.0                  0.0
228        0.0                  0.0
229        0.0                  0.0

                                                                       \
    Couples living in consensual union and cohabiting couples
                                                   0 children 1 child

0                                                  7.1            2.0
1                                                  8.6            2.1
2                                                  7.2            1.3
3                                                  5.2            2.3
4                                                  8.2            2.1
..                                                 ...            ...
225                                               10.6            3.0
226                                                9.0            2.8
227                                                7.9            2.5
228                                               10.0            3.3
229                                                9.1            2.7

                                                \

    2 children 3 children More than 3 children

0          1.1        0.2                  0.1
1          0.9        0.1                  0.0
2          0.6        0.1                  0.0
3          1.5        0.3                  0.1
4          1.0        0.2                  0.0
..         ...        ...                  ...
225        1.6        0.2                  0.1
226        1.6        0.2                  0.1
227        1.6        0.3                  0.1
228        1.7        0.3                  0.0
229        1.6        0.3                  0.0

                                                                              \
    Married couples and registered partnership
                                    0 children 1 child 2 children 3 children

0                                         11.1     3.8        3.7        0.9
1                                         10.7     3.4        3.0        0.8
2                                          9.9     2.8        2.4        0.8
3                                         15.6     5.5        6.2        1.8
4                                         10.3     3.4        2.3        0.4
..                                         ...     ...        ...        ...
225                                        5.0     3.0        3.1        1.1
226                                        8.1     4.0        4.9        1.5
227                                       10.3     4.0        6.1        1.8
228                                        6.4     3.6        3.9        0.9
229                                        8.6     3.9        4.5        1.1

                                                                   \
                         Single men
    More than 3 children 0 children 1 child 2 children 3 children

0                    0.4       30.7     0.5        0.2        0.0
1                    0.2       32.3     0.6        0.1        0.0
2                    0.3       32.7     0.5        0.1        0.0
3                    0.5       23.2     0.6        0.1        0.0
4                    0.1       33.5     0.5        0.1        0.0
..                   ...        ...     ...        ...        ...
225                  0.3       32.1     0.6        0.1        0.0
226                  0.3       31.1     0.8        0.2        0.0
227                  0.2       28.9     0.8        0.2        0.0
228                  0.1       33.7     0.8        0.1        0.0
229                  0.1       29.0     0.8        0.1        0.0

                                                                     \
                         Single women
    More than 3 children   0 children 1 child 2 children 3 children

0                    0.0         32.1     3.6        1.8        0.4
1                    0.0         32.4     3.1        1.2        0.2
2                    0.0         36.7     2.9        1.1        0.2
3                    0.0         30.8     3.5        1.7        0.5
4                    0.0         33.7     3.1        0.9        0.1
..                   ...          ...     ...        ...        ...
225                  0.0         34.3     3.0        1.3        0.3
226                  0.0         29.6     3.6        1.6        0.3
227                  0.0         30.2     3.2        1.4        0.3
228                  0.0         29.8     3.3        1.5        0.2
229                  0.0         32.6     3.4        1.6        0.2

                         Number of families

    More than 3 children

0                    0.1           27,932.0
1                    0.1           30,512.0
2                    0.1           29,550.0
3                    0.1           21,601.0
4                    0.0           28,879.0
..                   ...                ...
225                  0.2           50,573.0
226                  0.1           36,712.0
227                  0.1           23,842.0
228                  0.0           46,119.0
229                  0.0           48,921.0

[230 rows x 28 columns]

**Income**:

     Year                   District Average income (kr.)
                                                      Men     Women


0    1987                Amager Vest            138,659.0 103,898.0
1    1987                 Amager Øst            140,520.0 103,348.0
2    1987                 Bispebjerg            128,679.0  95,336.0
3    1987             Brønshøj-Husum            150,965.0 103,361.0
4    1987                   Indre By            170,776.0 124,423.0
..    ...                        ...                  ...       ...
358  2019                  Unlocated            146,470.0 139,156.0
359  2019                      Valby            363,440.0 301,748.0
360  2019                    Vanløse            382,865.0 319,410.0
361  2019  Vesterbro/Kongens Enghave            381,678.0 319,325.0
362  2019                   Østerbro            448,024.0 342,786.0

[363 rows x 4 columns]

**Life span**:

     Year                   District Average life span (5-year average)



0    2009                   Indre By                               79.4
1    2009                   Østerbro                               78.4
2    2009                   Nørrebro                               72.3
3    2009  Vesterbro/Kongens Enghave                               73.5
4    2009                      Valby                               75.9
..    ...                        ...                                ...
127  2020             Brønshøj-Husum                               78.5
128  2020                 Bispebjerg                               77.8
129  2020                 Amager Øst                               81.0
130  2020                Amager Vest                               78.7
131  2020                  Unlocated                                0.0

[132 rows x 3 columns]

**Marital status**:

     Year                   District % of people                          \
                                        Divorced
                                       0-9 years       10-19 years
                                             Men Women         Men Women
0    1974                Amager Vest         0.0   0.0         0.0   0.0
1    1974                 Amager Øst         0.0   0.0         0.0   0.0
2    1974                 Bispebjerg         0.0   0.0         0.0   0.0
3    1974             Brønshøj-Husum         0.0   0.0         0.0   0.0
4    1974                   Indre By         0.0   0.0         0.0   0.0
..    ...                        ...         ...   ...         ...   ...
465  2020                   Nørrebro         0.0   0.0         0.0   0.0
466  2020                      Valby         0.0   0.0         0.0   0.0
467  2020                    Vanløse         0.0   0.0         0.0   0.0
468  2020  Vesterbro/Kongens Enghave         0.0   0.0         0.0   0.0
469  2020                   Østerbro         0.0   0.0         0.0   0.0

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           0.5   0.6         1.0   0.9         1.0   0.8         0.9   1.0
1           0.4   0.6         0.7   0.7         0.7   1.0         0.8   1.3
2           0.3   0.4         0.7   0.6         0.7   1.0         0.9   1.9
3           0.3   0.5         0.6   0.8         0.5   1.0         0.5   1.1
4           0.7   0.8         1.2   0.9         1.1   1.0         1.2   1.3
..          ...   ...         ...   ...         ...   ...         ...   ...
465         0.0   0.1         0.3   0.4         0.7   1.0         0.9   1.1
466         0.0   0.1         0.3   0.5         0.9   1.1         1.1   1.3
467         0.0   0.1         0.2   0.4         0.7   1.0         1.1   1.4
468         0.0   0.0         0.3   0.5         0.9   1.1         1.2   1.2
469         0.0   0.0         0.2   0.4         0.7   1.1         1.1   1.6

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0           0.7   0.8         0.2   0.6         0.1   0.2         0.0   0.0
1           0.7   1.3         0.3   0.6         0.0   0.2         0.0   0.0
2           0.8   1.8         0.2   0.8         0.1   0.2         0.0   0.0
3           0.5   0.9         0.2   0.5         0.0   0.2         0.0   0.0
4           0.9   1.2         0.4   0.7         0.1   0.2         0.0   0.0
..          ...   ...         ...   ...         ...   ...         ...   ...
465         0.6   0.8         0.4   0.7         0.1   0.2         0.0   0.0
466         0.8   1.0         0.5   0.8         0.1   0.3         0.0   0.1
467         0.8   1.2         0.6   1.0         0.1   0.4         0.0   0.1
468         0.7   0.8         0.5   0.6         0.1   0.2         0.0   0.0
469         0.7   1.1         0.6   1.2         0.1   0.4         0.0   0.1

                                                                               \
    Married / seperated
              0-9 years       10-19 years       20-29 years       30-39 years
                    Men Women         Men Women         Men Women         Men
0                   0.0   0.0         0.0   0.1         3.5   4.3         3.8
1                   0.0   0.0         0.0   0.1         3.3   4.2         3.2
2                   0.0   0.0         0.0   0.1         2.1   2.6         2.1
3                   0.0   0.0         0.0   0.0         2.4   3.2         3.4
4                   0.0   0.0         0.0   0.1         3.1   3.9         3.4
..                  ...   ...         ...   ...         ...   ...         ...
465                 0.0   0.0         0.0   0.0         0.4   0.7         2.4
466                 0.0   0.0         0.0   0.0         0.7   1.1         2.9
467                 0.0   0.0         0.0   0.0         0.6   0.8         2.6
468                 0.0   0.0         0.0   0.0         0.4   0.7         2.8
469                 0.0   0.0         0.0   0.0         0.3   0.6         2.4

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
0     3.6         3.2   3.2         3.8   3.8         3.8   3.4         2.0
1     2.9         3.2   3.7         5.1   5.6         5.3   4.7         2.6
2     2.1         2.8   3.6         5.9   6.8         7.0   6.1         2.9
3     3.8         4.5   5.1         6.4   6.4         4.7   3.8         2.0
4     3.1         2.9   3.0         3.7   3.9         3.3   2.7         1.6
..    ...         ...   ...         ...   ...         ...   ...         ...
465   2.7         2.1   2.2         1.9   1.7         1.2   1.0         0.8
466   3.2         3.1   3.0         2.3   2.1         1.8   1.6         1.1
467   3.0         3.4   3.6         2.9   2.7         2.3   2.1         1.7
468   3.2         3.0   2.6         2.2   1.8         1.3   1.1         0.8
469   2.7         2.8   2.9         2.8   2.6         1.9   1.7         1.5

                                                                               \
                                              Never married
          80-89 years       >= 90 years           0-9 years       10-19 years
    Women         Men Women         Men Women           Men Women         Men
0     1.5         0.5   0.3         0.0   0.0           5.6   5.4         5.6
1     1.8         0.5   0.2         0.0   0.0           4.6   4.5         4.7
2     2.0         0.6   0.3         0.0   0.0           3.5   3.5         4.7
3     1.4         0.3   0.2         0.0   0.0           5.5   5.0         7.3
4     1.1         0.3   0.1         0.0   0.0           4.7   4.6         4.6
..    ...         ...   ...         ...   ...           ...   ...         ...
465   0.5         0.2   0.1         0.0   0.0           5.4   5.1         3.6
466   0.9         0.3   0.2         0.0   0.0           6.0   5.8         4.5
467   1.4         0.4   0.3         0.0   0.0           5.7   5.2         5.1
468   0.5         0.2   0.1         0.0   0.0           5.8   5.5         3.6
469   1.2         0.4   0.3         0.0   0.0           5.2   4.9         4.5

                                                                             \

          20-29 years       30-39 years       40-49 years       50-59 years
    Women         Men Women         Men Women         Men Women         Men
0     5.3         6.7   4.2         1.6   0.7         0.8   0.4         0.7
1     4.6         5.6   3.9         1.0   0.7         0.5   0.5         0.5
2     4.5         4.2   2.8         1.0   0.7         0.6   0.5         0.4
3     6.6         4.8   2.6         0.8   0.5         0.4   0.3         0.3
4     4.4         8.7   6.4         2.2   1.2         1.0   0.7         0.9
..    ...         ...   ...         ...   ...         ...   ...         ...
465   3.7        12.7  15.4         8.3   8.2         2.9   2.3         1.7
466   4.4        11.1  11.6         5.9   5.0         2.7   2.1         1.6
467   4.9         9.2   9.6         5.1   4.7         2.6   2.2         1.7
468   3.6        11.2  12.5         7.8   7.1         3.9   3.1         2.1
469   4.3        10.2  11.4         6.0   5.5         2.7   2.6         1.8

                                                                             \

          60-69 years       70-79 years       80-89 years       >= 90 years
    Women         Men Women         Men Women         Men Women         Men
0     0.5         0.6   0.8         0.3   0.8         0.1   0.5         0.0
1     0.6         0.4   0.9         0.2   0.7         0.0   0.2         0.0
2     0.9         0.3   1.3         0.1   1.1         0.1   0.3         0.0
3     0.5         0.2   0.7         0.1   0.5         0.0   0.3         0.0
4     1.0         0.8   1.4         0.4   1.4         0.1   0.6         0.0
..    ...         ...   ...         ...   ...         ...   ...         ...
465   1.3         0.9   0.8         0.4   0.3         0.1   0.1         0.0
466   1.3         0.7   0.7         0.3   0.3         0.1   0.1         0.0
467   1.5         0.9   0.9         0.4   0.4         0.1   0.1         0.0
468   1.4         0.9   0.6         0.3   0.3         0.1   0.1         0.0
469   1.8         1.0   1.0         0.4   0.5         0.1   0.1         0.0

                                                                           \
            Widowed
          0-9 years       10-19 years       20-29 years       30-39 years
    Women       Men Women         Men Women         Men Women         Men
0     0.1       0.0   0.0         0.0   0.0         0.0   0.0         0.0
1     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
2     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
3     0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
4     0.1       0.0   0.0         0.0   0.0         0.0   0.0         0.0
..    ...       ...   ...         ...   ...         ...   ...         ...
465   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
466   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
467   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
468   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0
469   0.0       0.0   0.0         0.0   0.0         0.0   0.0         0.0

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
0     0.1         0.1   0.2         0.2   0.7         0.4   1.9         0.5
1     0.1         0.1   0.2         0.3   1.0         0.5   2.6         0.7
2     0.1         0.1   0.3         0.2   1.2         0.7   3.3         0.7
3     0.0         0.1   0.3         0.2   0.9         0.5   1.8         0.6
4     0.1         0.1   0.2         0.2   0.7         0.4   1.7         0.5
..    ...         ...   ...         ...   ...         ...   ...         ...
465   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.1
466   0.0         0.0   0.0         0.0   0.2         0.1   0.3         0.2
467   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.2
468   0.0         0.0   0.0         0.0   0.1         0.1   0.2         0.1
469   0.0         0.0   0.0         0.0   0.1         0.1   0.3         0.2



          80-89 years       >= 90 years
    Women         Men Women         Men Women
0     2.6         0.4   1.6         0.1   0.2
1     3.0         0.3   1.2         0.0   0.1
2     3.5         0.4   1.4         0.1   0.2
3     2.1         0.3   1.2         0.0   0.1
4     2.1         0.2   1.0         0.0   0.1
..    ...         ...   ...         ...   ...
465   0.4         0.1   0.3         0.0   0.2
466   0.6         0.1   0.7         0.1   0.3
467   0.7         0.2   0.7         0.1   0.4
468   0.4         0.0   0.2         0.0   0.1
469   0.6         0.1   0.6         0.0   0.2

[470 rows x 82 columns]

**Population movement**:

     Year     District % of people                                          \
                            Deaths Emigrated Immigrated Internal migration


0    1980  Amager Vest         2.1       2.7        1.4                6.0
1    1981  Amager Vest         2.2       2.2        1.1                6.0
2    1982  Amager Vest         1.9       2.1        1.0                5.8
3    1987  Amager Vest         1.8       2.0        1.0                6.5
4    1988  Amager Vest         1.9       2.2        1.0                6.6
..    ...          ...         ...       ...        ...                ...
365  2016     Østerbro         0.6       2.4        3.7                4.9
366  2017     Østerbro         0.6       2.5        3.8                4.9
367  2018     Østerbro         0.6       2.8        3.8                4.7
368  2019     Østerbro         0.6       2.8        3.8                4.8
369  2020     Østerbro         0.5       2.1        3.0                5.0

                                             \
    Internal migration from other districts


0                                      12.0
1                                      11.5
2                                      12.0
3                                      13.2
4                                      14.3
..                                      ...
365                                     7.1
366                                     7.1
367                                     6.7
368                                     6.9
369                                     7.2

                                              \
    Internal migration to to other districts


0                                        9.1
1                                        8.8
2                                        8.9
3                                       10.6
4                                       11.4
..                                       ...
365                                      7.5
366                                      7.5
367                                      7.5
368                                      7.7
369                                      7.7

                                                    \
    Internal migratrion from danish municipalities


0                                              6.0
1                                              5.8
2                                              5.9
3                                              6.4
4                                              6.3
..                                             ...
365                                            7.2
366                                            7.3
367                                            6.2
368                                            6.6
369                                            6.9

                                                                               \
    Internal migratrion to danish municipalities Live births Natural increase


0                                            6.3         0.9             -1.2
1                                            5.9         0.7             -1.5
2                                            6.0         0.9             -1.1
3                                            8.1         1.0             -0.9
4                                            7.0         1.0             -0.9
..                                           ...         ...              ...
365                                          7.0         1.6              1.0
366                                          7.4         1.6              1.0
367                                          7.2         1.6              1.0
368                                          7.1         1.6              1.1
369                                          7.9         1.6              1.0


    Netmigration Netmigration Copenhagen Netmigration Denmark


0           -1.3                     2.9                 -0.3
1           -1.2                     2.7                 -0.0
2           -1.2                     3.2                 -0.1
3           -1.0                     2.6                 -1.7
4           -1.1                     2.9                 -0.7
..           ...                     ...                  ...
365          1.3                    -0.4                  0.1
366          1.3                    -0.3                 -0.1
367          1.0                    -0.8                 -1.0
368          0.9                    -0.8                 -0.6
369          0.9                    -0.5                 -0.9

[370 rows x 15 columns]

# Create the superset

<p style="border:2px solid black"> </p>

##  Merge the prepared datasets

We are now ready to merge the processed dataframes:

In [43]:
# Merge all the dataframes in the object: cph_data_superset.
for idx_df, df in enumerate(cph_data_superset.get_all_dataframes()):
    # The first dataframe is left unaltered.
    if idx_df == 0:
        df_superset = df

    # Each consecutive dataframe is merged with the merge of the previous
    # dataframes on columns "Year" and "District".
    else:
        df_superset = df_superset.merge(
            df,
            on=['Year', 'District'],
            how='inner',
        )

# Show the results.
printmd('The **superset**:')
display(df_superset)
display(pd.DataFrame(df_superset['Year'].unique(), columns=['Included years']))
display(pd.DataFrame(
    df_superset['District'].unique(), columns=['Included districts']))

The **superset**:

     Year                   District % of people                          \
                                         Denmark
                                       0-9 years       10-19 years
                                             Men Women         Men Women
0    2009                Amager Vest         5.5   5.2         3.8   3.6
1    2009                 Amager Øst         4.9   4.8         3.5   3.3
2    2009                 Bispebjerg         4.3   4.2         3.0   3.0
3    2009             Brønshøj-Husum         5.9   5.7         5.2   5.1
4    2009                   Indre By         4.6   4.4         3.1   3.3
..    ...                        ...         ...   ...         ...   ...
105  2019                   Nørrebro         5.0   4.9         3.1   3.3
106  2019                      Valby         5.2   5.0         4.0   4.0
107  2019                    Vanløse         5.3   4.9         4.7   4.5
108  2019  Vesterbro/Kongens Enghave         5.4   5.0         3.1   3.2
109  2019                   Østerbro         4.8   4.4         4.0   3.9

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           8.8   9.5         9.1   8.0         5.8   5.2         4.6   4.5
1           9.8  11.1         9.4   8.4         5.9   5.0         4.2   3.9
2          10.4  11.6         8.4   6.9         5.5   4.1         4.4   3.7
3           4.7   4.9         5.7   5.7         6.2   5.9         5.6   5.3
4           8.0   8.6         8.2   7.6         5.9   5.3         4.8   5.0
..          ...   ...         ...   ...         ...   ...         ...   ...
105        11.4  13.9         8.8   9.0         4.5   4.4         3.6   3.4
106         9.6  10.4         6.6   6.3         5.5   5.2         4.3   4.3
107         8.3   8.9         6.1   6.2         6.0   6.0         5.1   5.4
108         9.2  10.3         8.1   8.2         6.5   5.7         4.4   3.9
109         8.8   9.7         6.4   6.3         5.2   5.5         5.1   5.5

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
0           3.6   3.8         1.5   2.0         0.6   1.4         0.1   0.4
1           3.3   3.6         1.6   2.3         0.7   1.7         0.1   0.5
2           3.5   3.4         1.5   2.3         0.8   2.1         0.2   0.7
3           4.2   4.4         2.1   2.9         1.3   2.9         0.2   0.9
4           5.1   5.9         2.0   2.5         0.6   1.4         0.1   0.4
..          ...   ...         ...   ...         ...   ...         ...   ...
105         2.3   2.3         1.5   1.6         0.4   0.6         0.0   0.2
106         3.0   3.3         2.0   2.4         0.6   1.2         0.1   0.4
107         3.8   4.3         2.7   3.2         0.8   1.3         0.1   0.5
108         2.5   2.4         1.5   1.5         0.3   0.5         0.0   0.1
109         3.3   3.9         2.5   3.3         0.7   1.3         0.1   0.4

                                                                     \
    Non-western countries
                0-9 years       10-19 years       20-29 years
                      Men Women         Men Women         Men Women
0                     0.3   0.3         0.3   0.3         0.8   0.8
1                     0.3   0.3         0.3   0.3         0.9   0.9
2                     0.7   0.6         0.5   0.5         1.2   1.1
3                     0.9   0.8         0.8   0.7         1.1   1.0
4                     0.1   0.1         0.1   0.1         0.4   0.6
..                    ...   ...         ...   ...         ...   ...
105                   0.2   0.2         0.3   0.3         0.5   0.5
106                   0.5   0.5         0.3   0.3         0.8   0.9
107                   0.3   0.2         0.2   0.2         0.6   0.6
108                   0.3   0.3         0.1   0.2         0.5   0.6
109                   0.2   0.2         0.1   0.1         0.5   0.7

                                                                             \

    30-39 years       40-49 years       50-59 years       60-69 years
            Men Women         Men Women         Men Women         Men Women
0           0.7   0.9         0.5   0.5         0.2   0.3         0.1   0.1
1           0.7   0.8         0.4   0.4         0.2   0.2         0.1   0.1
2           1.3   1.3         1.0   0.7         0.4   0.4         0.2   0.2
3           1.3   1.4         0.9   0.9         0.4   0.4         0.2   0.2
4           0.5   0.5         0.2   0.2         0.1   0.1         0.0   0.0
..          ...   ...         ...   ...         ...   ...         ...   ...
105         0.7   0.7         0.5   0.7         0.5   0.5         0.2   0.3
106         1.2   1.1         0.6   0.6         0.4   0.5         0.2   0.2
107         0.9   0.9         0.4   0.4         0.3   0.3         0.1   0.1
108         0.9   0.9         0.5   0.5         0.3   0.3         0.2   0.2
109         0.8   0.8         0.3   0.4         0.2   0.2         0.1   0.1

                                                                             \
                                                          Western countries
    70-79 years       80-89 years       >= 90 years               0-9 years
            Men Women         Men Women         Men Women               Men
0           0.1   0.1         0.0   0.0         0.0   0.0               0.2
1           0.0   0.1         0.0   0.0         0.0   0.0               0.1
2           0.1   0.1         0.0   0.0         0.0   0.0               0.1
3           0.1   0.1         0.0   0.0         0.0   0.0               0.2
4           0.0   0.0         0.0   0.0         0.0   0.0               0.2
..          ...   ...         ...   ...         ...   ...               ...
105         0.1   0.2         0.0   0.1         0.0   0.0               0.2
106         0.1   0.1         0.0   0.0         0.0   0.0               0.3
107         0.1   0.0         0.0   0.0         0.0   0.0               0.2
108         0.1   0.1         0.0   0.0         0.0   0.0               0.3
109         0.0   0.0         0.0   0.0         0.0   0.0               0.3

                                                                             \

          10-19 years       20-29 years       30-39 years       40-49 years
    Women         Men Women         Men Women         Men Women         Men
0     0.2         0.1   0.1         1.2   1.5         0.9   0.8         0.5
1     0.1         0.1   0.1         1.0   1.4         1.0   0.7         0.5
2     0.1         0.1   0.1         1.1   1.4         0.6   0.6         0.4
3     0.2         0.1   0.1         0.7   0.6         0.5   0.4         0.4
4     0.2         0.1   0.2         1.5   2.0         1.4   1.2         0.9
..    ...         ...   ...         ...   ...         ...   ...         ...
105   0.2         0.1   0.1         1.5   2.0         1.5   1.5         0.6
106   0.3         0.2   0.2         1.4   1.5         1.3   1.2         0.7
107   0.2         0.1   0.1         0.9   1.0         0.9   1.0         0.6
108   0.4         0.1   0.2         2.0   2.3         2.0   1.8         1.0
109   0.3         0.2   0.2         1.4   1.7         1.4   1.5         0.8

                                                                             \

          50-59 years       60-69 years       70-79 years       80-89 years
    Women         Men Women         Men Women         Men Women         Men
0     0.3         0.2   0.2         0.2   0.1         0.0   0.0         0.0
1     0.3         0.3   0.2         0.1   0.1         0.0   0.0         0.0
2     0.2         0.2   0.2         0.1   0.1         0.0   0.0         0.0
3     0.2         0.2   0.2         0.1   0.1         0.0   0.0         0.0
4     0.6         0.6   0.5         0.3   0.3         0.1   0.1         0.0
..    ...         ...   ...         ...   ...         ...   ...         ...
105   0.4         0.3   0.2         0.2   0.1         0.1   0.1         0.0
106   0.5         0.4   0.2         0.2   0.1         0.1   0.1         0.0
107   0.4         0.4   0.2         0.1   0.1         0.1   0.0         0.0
108   0.7         0.6   0.3         0.2   0.1         0.1   0.1         0.0
109   0.7         0.5   0.3         0.2   0.2         0.1   0.1         0.0

                            Number of people % of total dwellings area  \
                                                   Housing cooperative
          >= 90 years
    Women         Men Women
0     0.0         0.0   0.0         56,257.0                      27.2
1     0.0         0.0   0.0         50,390.0                      35.2
2     0.0         0.0   0.0         47,798.0                      32.2
3     0.0         0.0   0.0         39,771.0                      10.1
4     0.0         0.0   0.0         47,339.0                      22.7
..    ...         ...   ...              ...                       ...
105   0.0         0.0   0.0         80,646.0                      44.5
106   0.0         0.0   0.0         59,840.0                      25.5
107   0.0         0.0   0.0         41,137.0                      24.9
108   0.0         0.0   0.0         72,128.0                      37.3
109   0.1         0.0   0.0         79,908.0                      36.0

                                                                         \
    Non-profit housing Owner-occupied Private rental Public authorities


0                 20.1           29.5           22.3                0.8
1                 14.7           29.3           20.3                0.5
2                 34.1           15.5           17.9                0.3
3                 39.3           39.5            9.7                1.4
4                  5.4           28.1           39.1                4.6
..                 ...            ...            ...                ...
105               22.4            9.6           21.8                1.7
106               19.9           30.3           23.8                0.5
107               12.0           39.6           23.4                0.2
108               15.4           20.3           26.3                0.7
109                9.2           26.1           28.2                0.5

    Total dwellings area                                   % of families  \
                         Children below 18 years not living with parents
                                                              0 children

0            2,469,807.0                                             0.2
1            2,107,253.0                                             0.2
2            1,951,637.0                                             0.2
3            1,628,317.0                                             0.3
4            2,710,400.0                                             0.2
..                   ...                                             ...
105          3,064,700.0                                             0.1
106          2,341,961.0                                             0.1
107          1,668,619.0                                             0.2
108          2,935,055.0                                             0.1
109          3,704,950.0                                             0.2

                                                        \

    1 child 2 children 3 children More than 3 children

0       0.0        0.0        0.0                  0.0
1       0.0        0.0        0.0                  0.0
2       0.0        0.0        0.0                  0.0
3       0.0        0.0        0.0                  0.0
4       0.0        0.0        0.0                  0.0
..      ...        ...        ...                  ...
105     0.0        0.0        0.0                  0.0
106     0.0        0.0        0.0                  0.0
107     0.0        0.0        0.0                  0.0
108     0.0        0.0        0.0                  0.0
109     0.0        0.0        0.0                  0.0

                                                                       \
    Couples living in consensual union and cohabiting couples
                                                   0 children 1 child

0                                                  8.0            2.5
1                                                  8.9            2.3
2                                                  7.7            1.7
3                                                  4.9            2.0
4                                                  7.5            2.2
..                                                 ...            ...
105                                               10.3            3.0
106                                                9.1            2.8
107                                                8.0            2.4
108                                                9.7            3.3
109                                                8.6            2.7

                                                \

    2 children 3 children More than 3 children

0          1.2        0.2                  0.0
1          1.0        0.2                  0.0
2          0.7        0.1                  0.0
3          1.3        0.3                  0.1
4          1.2        0.2                  0.0
..         ...        ...                  ...
105        1.5        0.2                  0.1
106        1.6        0.2                  0.1
107        1.6        0.3                  0.1
108        1.7        0.3                  0.0
109        1.6        0.3                  0.0

                                                                              \
    Married couples and registered partnership
                                    0 children 1 child 2 children 3 children

0                                         10.2     4.4        4.3        1.2
1                                          8.8     3.7        4.0        0.9
2                                          7.0     2.9        2.8        0.9
3                                         13.1     4.7        6.9        2.5
4                                         10.6     3.1        3.4        0.8
..                                         ...     ...        ...        ...
105                                        5.1     3.0        3.0        1.0
106                                        8.2     4.1        4.9        1.6
107                                       10.4     4.0        6.2        1.8
108                                        6.5     3.6        3.8        0.9
109                                        8.7     3.8        4.5        1.1

                                                                   \
                         Single men
    More than 3 children 0 children 1 child 2 children 3 children

0                    0.4       31.7     0.6        0.1        0.0
1                    0.2       32.5     0.7        0.1        0.0
2                    0.4       36.8     0.6        0.1        0.0
3                    0.9       27.5     0.9        0.3        0.1
4                    0.1       32.4     0.6        0.2        0.0
..                   ...        ...     ...        ...        ...
105                  0.4       32.5     0.6        0.1        0.0
106                  0.3       31.1     0.8        0.2        0.0
107                  0.2       28.9     0.7        0.2        0.0
108                  0.1       34.1     0.8        0.1        0.0
109                  0.1       29.3     0.8        0.2        0.0

                                                                     \
                         Single women
    More than 3 children   0 children 1 child 2 children 3 children

0                    0.0         29.6     3.2        1.6        0.4
1                    0.0         31.7     3.1        1.3        0.3
2                    0.0         33.0     3.1        1.3        0.4
3                    0.0         27.7     3.7        2.1        0.6
4                    0.0         33.1     2.8        1.2        0.2
..                   ...          ...     ...        ...        ...
105                  0.0         34.1     2.9        1.4        0.3
106                  0.0         29.2     3.7        1.6        0.4
107                  0.0         29.8     3.4        1.3        0.3
108                  0.0         29.6     3.4        1.5        0.3
109                  0.0         32.6     3.5        1.6        0.2

                         Number of families Average income (kr.)            \
                                                             Men     Women
    More than 3 children

0                    0.2           33,983.0            297,098.0 247,335.0
1                    0.1           31,821.0            285,312.0 241,607.0
2                    0.1           31,999.0            252,217.0 227,231.0
3                    0.3           21,476.0            285,377.0 245,974.0
4                    0.0           30,605.0            376,073.0 279,981.0
..                   ...                ...                  ...       ...
105                  0.2           51,332.0            310,060.0 275,704.0
106                  0.1           35,397.0            363,440.0 301,748.0
107                  0.1           23,763.0            382,865.0 319,410.0
108                  0.1           44,900.0            381,678.0 319,325.0
109                  0.0           48,703.0            448,024.0 342,786.0

    Average life span (5-year average) % of people                          \
                                          Divorced
                                         0-9 years       10-19 years
                                               Men Women         Men Women
0                                 74.8         0.0   0.0         0.0   0.0
1                                 76.2         0.0   0.0         0.0   0.0
2                                 74.3         0.0   0.0         0.0   0.0
3                                 75.8         0.0   0.0         0.0   0.0
4                                 79.4         0.0   0.0         0.0   0.0
..                                 ...         ...   ...         ...   ...
105                               76.4         0.0   0.0         0.0   0.0
106                               78.4         0.0   0.0         0.0   0.0
107                               80.8         0.0   0.0         0.0   0.0
108                               77.7         0.0   0.0         0.0   0.0
109                               81.2         0.0   0.0         0.0   0.0

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
0           0.0   0.1         0.5   0.7         1.0   1.2         1.0   1.2
1           0.1   0.1         0.5   0.7         1.0   1.0         1.0   1.1
2           0.1   0.2         0.8   0.8         1.4   1.2         1.3   1.3
3           0.0   0.1         0.5   0.8         1.1   1.4         1.1   1.4
4           0.0   0.1         0.4   0.6         0.9   0.9         0.9   1.3
..          ...   ...         ...   ...         ...   ...         ...   ...
105         0.0   0.1         0.3   0.4         0.7   1.0         0.9   1.1
106         0.0   0.1         0.3   0.5         0.9   1.2         1.1   1.4
107         0.0   0.0         0.3   0.5         0.8   1.0         1.0   1.4
108         0.0   0.0         0.4   0.5         1.0   1.1         1.1   1.3
109         0.0   0.0         0.2   0.4         0.7   1.1         1.1   1.5

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years

   Included years
0            2009
1            2010
2            2011
3            2012
4            2013
5            2014
6            2015
7            2016
8            2017
9            2018
10           2019

          Included districts
0                Amager Vest
1                 Amager Øst
2                 Bispebjerg
3             Brønshøj-Husum
4                   Indre By
5                   Nørrebro
6                      Valby
7                    Vanløse
8  Vesterbro/Kongens Enghave
9                   Østerbro

**Success!** The resulting dataframes has 110 rows: one for each combination of 11 unique years and 10 unique districts.

### Sort columns

To keep things in order, let's sort the columns, keeping *Year* and *District* in front:

In [44]:
# Sort the columns so that Year and District show up first
df_superset = (
    df_sort_columns(df_superset,
                    first_columns=[('Year', '', '', ''),
                                   ('District', '', '', '')])
)

### Save superset dataframe

Now, let's save our baby so it doesn't get lost:

In [1]:
# Save the superset to hard drive.
df_superset.to_pickle(path_data_clean_root / 'cph_clean_superset.pkl')

NameError: name 'df_superset' is not defined

### Show data for a chosen district

Finaly, let's show an example of data for one of the districts: ***Nørrebro***:

In [46]:
# Choose district
district = 'Nørrebro'

# Sort the columns so that Year and District show up first
display(
    df_superset
    .loc[df_superset[('District', '', '')] == district]
)

     Year  District                                   % of families          \
                    Children below 18 years not living with parents
                                                         0 children 1 child

5    2009  Nørrebro                                             0.2     0.0
15   2010  Nørrebro                                             0.1     0.0
25   2011  Nørrebro                                             0.2     0.0
35   2012  Nørrebro                                             0.2     0.0
45   2013  Nørrebro                                             0.1     0.0
55   2014  Nørrebro                                             0.1     0.0
65   2015  Nørrebro                                             0.1     0.0
75   2016  Nørrebro                                             0.1     0.0
85   2017  Nørrebro                                             0.1     0.0
95   2018  Nørrebro                                             0.1     0.0
105  2019  Nørrebro                                             0.1     0.0

                                                \

    2 children 3 children More than 3 children

5          0.0        0.0                  0.0
15         0.0        0.0                  0.0
25         0.0        0.0                  0.0
35         0.0        0.0                  0.0
45         0.0        0.0                  0.0
55         0.0        0.0                  0.0
65         0.0        0.0                  0.0
75         0.0        0.0                  0.0
85         0.0        0.0                  0.0
95         0.0        0.0                  0.0
105        0.0        0.0                  0.0

                                                                       \
    Couples living in consensual union and cohabiting couples
                                                   0 children 1 child

5                                                  8.9            2.2
15                                                 8.8            2.3
25                                                 9.2            2.3
35                                                 9.3            2.3
45                                                 9.4            2.5
55                                                 9.6            2.7
65                                                10.1            2.7
75                                                10.3            2.9
85                                                10.3            3.0
95                                                10.2            3.1
105                                               10.3            3.0

                                                \

    2 children 3 children More than 3 children

5          1.0        0.2                  0.1
15         1.0        0.2                  0.1
25         1.1        0.2                  0.1
35         1.1        0.2                  0.1
45         1.1        0.2                  0.1
55         1.2        0.2                  0.1
65         1.3        0.2                  0.1
75         1.4        0.2                  0.1
85         1.4        0.2                  0.1
95         1.4        0.2                  0.1
105        1.5        0.2                  0.1

                                                                              \
    Married couples and registered partnership
                                    0 children 1 child 2 children 3 children

5                                          5.3     2.7        2.7        1.1
15                                         5.2     2.7        2.7        1.2
25                                         4.9     2.6        2.7        1.1
35                                         4.9     2.6        2.8        1.1
45                                         4.8     2.7        2.8        1.1
55                                         4.8     2.7        2.7        1.0
65                                         4.8     2.8        2.8        1.0
75                                         4.8     2.9        2.8        1.0
85                                         4.8     2.9        3.0        1.0
95                                         4.9     3.0        3.0        1.0
105                                        5.1     3.0        3.0        1.0

                                                                   \
                         Single men
    More than 3 children 0 children 1 child 2 children 3 children

5                    0.8       35.1     0.5        0.1        0.0
15                   0.7       35.1     0.5        0.1        0.0
25                   0.6       35.1     0.5        0.1        0.0
35                   0.6       34.9     0.5        0.1        0.0
45                   0.6       35.0     0.5        0.1        0.0
55                   0.5       34.4     0.6        0.1        0.0
65                   0.5       34.1     0.6        0.1        0.0
75                   0.5       33.3     0.6        0.1        0.0
85                   0.5       33.1     0.6        0.1        0.0
95                   0.4       32.7     0.6        0.1        0.0
105                  0.4       32.5     0.6        0.1        0.0

                                                                     \
                         Single women
    More than 3 children   0 children 1 child 2 children 3 children

5                    0.0         34.2     2.8        1.3        0.5
15                   0.0         34.3     2.9        1.3        0.5
25                   0.0         34.4     2.7        1.4        0.5
35                   0.0         34.6     2.7        1.3        0.4
45                   0.0         34.3     2.8        1.3        0.4
55                   0.0         34.5     2.8        1.3        0.4
65                   0.0         34.1     2.8        1.3        0.4
75                   0.0         34.2     2.9        1.3        0.4
85                   0.0         34.1     2.9        1.4        0.3
95                   0.0         34.1     2.9        1.4        0.3
105                  0.0         34.1     2.9        1.4        0.3

                         % of people                                    \
                              Deaths   Denmark
    More than 3 children             0-9 years       10-19 years
                                           Men Women         Men Women
5                    0.3         1.0       4.9   4.7         3.2   3.5
15                   0.3         0.9       4.9   4.7         3.2   3.4
25                   0.3         0.8       4.8   4.8         3.2   3.4
35                   0.3         0.8       4.8   4.7         3.2   3.3
45                   0.2         0.7       4.8   4.8         3.1   3.3
55                   0.2         0.6       4.8   4.7         3.0   3.2
65                   0.2         0.6       4.8   4.8         3.0   3.2
75                   0.2         0.6       5.1   4.9         3.0   3.2
85                   0.2         0.6       5.1   5.0         3.1   3.2
95                   0.2         0.6       5.2   5.0         3.1   3.2
105                  0.2         0.5       5.0   4.9         3.1   3.3

                                                                             \

    20-29 years       30-39 years       40-49 years       50-59 years
            Men Women         Men Women         Men Women         Men Women
5          11.7  13.8         9.2   8.5         5.1   4.2         3.3   3.1
15         12.2  14.3         9.0   8.2         5.0   4.2         3.2   3.0
25         12.5  14.7         8.9   8.2         4.9   4.3         3.2   2.9
35         12.8  15.2         8.8   8.1         4.9   4.3         3.1   2.9
45         12.9  15.2         8.9   8.3         4.8   4.2         3.1   2.8
55         12.9  15.5         8.7   8.3         4.6   4.2         3.2   2.9
65         12.7  15.1         8.8   8.5         4.6   4.2         3.3   2.9
75         12.3  14.8         8.8   8.8         4.6   4.3         3.3   3.1
85         12.1  14.6         8.8   8.8         4.5   4.3         3.4   3.2
95         11.6  14.3         8.9   8.8         4.5   4.4         3.5   3.3
105        11.4  13.9         8.8   9.0         4.5   4.4         3.6   3.4

                                                                             \

    60-69 years       70-79 years       80-89 years       >= 90 years
            Men Women         Men Women         Men Women         Men Women
5           2.6   2.3         1.0   1.2         0.5   1.2         0.1   0.5
15          2.6   2.4         1.0   1.2         0.5   1.1         0.1   0.5
25          2.5   2.4         1.0   1.2         0.4   1.0         0.1   0.5
35          2.4   2.3         1.0   1.2         0.4   0.9         0.1   0.5
45          2.3   2.3         1.1   1.2         0.4   0.8         0.1   0.4
55          2.3   2.3         1.2   1.3         0.4   0.7         0.1   0.3
65          2.3   2.3         1.2   1.3         0.4   0.7         0.1   0.3
75          2.3   2.3         1.3   1.4         0.3   0.7         0.1   0.3
85          2.3   2.3         1.4   1.5         0.3   0.6         0.1   0.3
95          2.3   2.3         1.4   1.5         0.3   0.6         0.0   0.2
105         2.3   2.3         1.5   1.6         0.4   0.6         0.0   0.2

                                                                           \
     Divorced
    0-9 years       10-19 years       20-29 years       30-39 years
          Men Women         Men Women         Men Women         Men Women
5         0.0   0.0         0.0   0.0         0.0   0.1         0.5   0.8
15        0.0   0.0         0.0   0.0         0.0   0.1         0.5   0.7
25        0.0   0.0         0.0   0.0         0.0   0.1         0.4   0.7
35        0.0   0.0         0.0   0.0         0.0   0.1         0.4   0.6
45        0.0   0.0         0.0   0.0         0.0   0.1         0.4   0.6
55        0.0   0.0         0.0   0.0         0.0   0.1         0.4   0.6
65        0.0   0.0         0.0   0.0         0.0   0.1         0.4   0.6
75        0.0   0.0         0.0   0.0         0.0   0.1         0.4   0.5
85        0.0   0.0         0.0   0.0         0.0   0.1         0.3   0.5
95        0.0   0.0         0.0   0.0         0.0   0.1         0.3   0.5
105       0.0   0.0         0.0   0.0         0.0   0.1         0.3   0.4

                                                                             \

    40-49 years       50-59 years       60-69 years       70-79 years
            Men Women         Men Women         Men Women         Men Women
5           1.0   1.0         0.7   1.0         0.8   1.0         0.4   0.4
15          0.9   1.0         0.7   0.9         0.8   1.0         0.3   0.4
25          0.8   1.0         0.7   0.9         0.8   1.0         0.3   0.4
35          0.8   1.0         0.7   0.8         0.7   1.0         0.4   0.5
45          0.8   1.0         0.7   0.9         0.7   0.9         0.4   0.5
55          0.8   1.1         0.7   0.9         0.6   0.9         0.4   0.5
65          0.8   1.1         0.8   0.9         0.6   0.8         0.4   0.6
75          0.8   1.1         0.8   1.0         0.6   0.8         0.4   0.6
85          0.8   1.1         0.8   1.1         0.6   0.8         0.4   0.6
95          0.7   1.0         0.9   1.1         0.6   0.8         0.4   0.6
105         0.7   1.0         0.9   1.1         0.6   0.8         0.4   0.7

                                                              \
                                        Emigrated Immigrated
    80-89 years       >= 90 years
            Men Women         Men Women
5           0.1   0.2         0.0   0.1       2.3        3.0
15          0.1   0.2         0.0   0.1       2.4        3.0
25          0.1   0.2         0.0   0.1       2.3        2.8
35          0.1   0.2         0.0   0.1       2.2        2.8
45          0.1   0.2         0.0   0.1       2.2        3.0
55          0.1   0.2         0.0   0.1       2.2        3.3
65          0.1   0.2         0.0   0.0       2.1        3.1
75          0.1   0.1         0.0   0.0       2.1        2.7
85          0.1   0.2         0.0   0.0       2.1        2.6
95          0.1   0.2         0.0   0.0       2.0        2.5
105         0.1   0.2         0.0   0.0       2.3        2.7

                                                                \
    Internal migration Internal migration from other districts


5                  6.1                                     9.2
15                 6.5                                     9.7
25                 6.3                                     9.6
35                 6.4                                     9.7
45                 6.3                                    10.0
55                 6.3                                     9.6
65                 5.8                                     9.3
75                 5.5                                     8.6
85                 5.6                                     8.8
95                 5.7                                     8.5
105                5.8                                     8.5

                                              \
    Internal migration to to other districts


5                                       10.2
15                                      10.8
25                                      10.6
35                                      10.7
45                                      11.3
55                                      10.9
65                                      10.4
75                                      10.0
85                                       9.8
95                                       9.7
105                                      9.9

                                                    \
    Internal migratrion from danish municipalities


5                                              8.0
15                                             8.3
25                                             8.3
35                                             8.1
45                                             8.0
55                                             7.8
65                                             7.8
75                                             7.3
85                                             7.3
95                                             6.8
105                                            6.8

                                                              \
    Internal migratrion to danish municipalities Live births


5                                            7.1         1.8
15                                           6.9         1.8
25                                           6.9         1.7
35                                           6.9         1.7
45                                           6.7         1.6
55                                           7.3         1.7
65                                           7.7         1.9
75                                           7.4         1.9
85                                           7.4         2.0
95                                           7.2         1.9
105                                          7.5         1.9

                                                                               \
    Married / seperated
              0-9 years       10-19 years       20-29 years       30-39 years
                    Men Women         Men Women         Men Women         Men
5                   0.0   0.0         0.0   0.0         0.7   1.3         2.9
15                  0.0   0.0         0.0   0.0         0.7   1.2         2.8
25                  0.0   0.0         0.0   0.0         0.6   1.1         2.7
35                  0.0   0.0         0.0   0.0         0.6   1.1         2.7
45                  0.0   0.0         0.0   0.0         0.6   1.0         2.7
55                  0.0   0.0         0.0   0.0         0.5   1.0         2.5
65                  0.0   0.0         0.0   0.0         0.5   0.9         2.5
75                  0.0   0.0         0.0   0.0         0.5   0.9         2.5
85                  0.0   0.0         0.0   0.0         0.5   0.9         2.5
95                  0.0   0.0         0.0   0.0         0.5   0.8         2.5
105                 0.0   0.0         0.0   0.0         0.5   0.7         2.5

                                                                             \

          40-49 years       50-59 years       60-69 years       70-79 years
    Women         Men Women         Men Women         Men Women         Men
5     3.4         2.5   2.1         1.6   1.4         1.3   1.0         0.5
15    3.2         2.5   2.2         1.6   1.4         1.3   1.0         0.5
25    3.1         2.4   2.2         1.6   1.3         1.2   1.0         0.5
35    3.1         2.4   2.2         1.6   1.4         1.2   0.9         0.5
45    3.0         2.4   2.2         1.6   1.3         1.1   1.0         0.6
55    2.8         2.3   2.2         1.6   1.4         1.1   0.9         0.6
65    2.8         2.2   2.1         1.7   1.4         1.1   0.9         0.6
75    2.8         2.1   2.1         1.7   1.4         1.2   1.0         0.7
85    2.8         2.1   2.1         1.7   1.4         1.1   1.0         0.7
95    2.8         2.1   2.2         1.8   1.5         1.1   1.0         0.7
105   2.8         2.1   2.2         1.8   1.6         1.2   1.0         0.8

                                                                             \
                                              Natural increase Netmigration
          80-89 years       >= 90 years
    Women         Men Women         Men Women
5     0.3         0.2   0.1         0.0   0.0              0.8          0.7
15    0.3         0.1   0.1         0.0   0.0              0.9          0.6
25    0.3         0.1   0.1         0.0   0.0              0.9          0.5
35    0.3         0.1   0.1         0.0   0.0              0.9          0.6
45    0.3         0.1   0.1         0.0   0.0              0.9          0.8
55    0.4         0.2   0.1         0.0   0.0              1.1          1.1
65    0.4         0.2   0.1         0.0   0.0              1.3          1.0
75    0.4         0.1   0.1         0.0   0.0              1.3          0.6
85    0.5         0.1   0.1         0.0   0.0              1.5          0.5
95    0.5         0.2   0.1         0.0   0.0              1.3          0.5
105   0.5         0.2   0.1         0.0   0.0              1.3          0.4

                                                                      \
    Netmigration Copenhagen Netmigration Denmark Never married
                                                     0-9 years
                                                           Men Women
5                      -1.0                  1.0           5.7   5.3
15                     -1.1                  1.3           5.6   5.3
25                     -1.0                  1.4           5.5   5.3
35                     -1.0                  1.2           5.4   5.2
45                     -1.3                  1.3           5.4   5.3
55                     -1.3                  0.5           5.4   5.2
65                     -1.1                  0.1           5.4   5.2
75                     -1.4                 -0.0           5.5   5.4
85                     -1.0                 -0.1           5.5   5.5
95                     -1.3                 -0.4           5.6   5.4
105                    -1.4                 -0.7           5.4   5.3

                                                                             \

    10-19 years       20-29 years       30-39 years       40-49 years
            Men Women         Men Women         Men Women         Men Women
5           3.9   4.2        12.9  14.8         7.6   6.2         2.8   2.0
15          3.8   4.1        13.4  15.3         7.6   6.1         2.8   2.0
25          3.8   4.0        13.8  15.9         7.6   6.2         2.9   2.0

# Conclusion

<p style="border:2px solid black"> </p>

In this notebook we have successfully combined the district-specific data from all the dataframes containing the demographical information for Copenhagen, which we have obtained in the notebook [Loading and Cleaning of Data](https://social-data-analysis-and-visualization-final-project.s3.eu-central-1.amazonaws.com/data_loading_and_cleaning.html). This data will permit us to easily compare different demographical quantities in 10 districts of Copenhagen in the years 2009 - 2019, and, if time permits, perform machine learning on the dataset to possibly uncover the underlying dynamics behind the observations.